<div class="container" id="contest-edit">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item" v-if="current === 'basic'">
                    <div class="area-title">基本信息</div>
                    <div>
                        <p>
                            <label>比赛ID (不可修改)</label>
                        </p>
                        <p>{{ id }}</p>
                        <p>
                            <label>赛制 (不可修改)</label>
                        </p>
                        <p>{{ type }}</p>
                        <p>
                            <label>比赛名称</label>
                            <input type="text" class="form-control" v-model="title" />
                        </p>
                        <p>
                            <label>禁用模拟赛</label>
                            <input type="checkbox" v-model="disableVirtual" />
                        </p>
                        <p>
                            <label>比赛开始时间</label>
                            <input v-if="new Date(begin) > new Date()" type="text" class="form-control datetime" v-model="begin" />
                        </p>
                        <p v-if="new Date(begin) <= new Date()">{{ $root.toLocalTime(begin) }}</p>
                        <p>
                            <label>时长(小时:分钟:秒)</label>
                            <input type="text" class="form-control" v-model="duration" />
                        </p>
                        <p>
                            <label>
                                比赛参与者设定
                            </label>
                            <select v-if="new Date(begin) > new Date()" v-model="attendPermission" class="form-control">
                                <option value="0">允许所有人参赛</option>
                                <option value="1">输入密码参赛</option>
                                <!--<option value="2">指定团队参赛</option>-->
                            </select>
                        </p>
                        <p v-if="new Date(begin) <= new Date()">{{ attendPermission == 0 ? '允许所有人参赛' : '输入密码参赛' }}</p>
                        <p v-if="attendPermission == 1">
                            <label>
                                参赛密码
                            </label>
                            <input type="text" class="form-control" v-model="passwordOrTeamId" />
                        </p>
                        <p>
                            <label>比赛介绍 (markdown)</label>
                            <textarea class="markdown-textbox" v-model="description"></textarea>
                        </p>
                        <p v-if="$root.user.profile.role === 'Root' || $root.user.profile.role === 'Master'">
                            <label>设置为推荐的比赛</label>
                            <input type="checkbox" v-model="isHighlighted" />
                        </p>
                        <p>
                            <a class="btn btn-default" v-on:click="saveBasic()"><i class="fa fa-save"></i> 保存</a>
                        </p>
                    </div>
                </div>

                <div class="area-item" v-if="current === 'problem'">
                    <div class="area-title">比赛题目</div>
                    <table class="table-inline">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>题目</th>
                                <th>分值</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in problems">
                                <td>{{ x.number }}</td>
                                <td>
                                    <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.problemId, params: { 'id': x.problemId } }">{{ x.problemTitle || x.problemId }}</router-link>
                                </td>
                                <td>{{ x.point }}</td>
                                <td><a v-on:click="removeProblem(x.problemId)" class="color-danger">删除</a></td>
                            </tr>
                            <tr>
                                <td><input type="text" class="thin-textbox" id="txtNumber" placeholder="建议使用A, B, C或1, 2, 3" /></td>
                                <td>
                                    <a class="filter-button" id="slProblem" v-bind:class="{ 'color-primary': selectedProblem === null }">{{ selectedProblem ? selectedProblem.title : '选择题目' }}</a>
                                    <div class="filter-outer problem-filter">
                                        <p>
                                            <input v-on:keyup="searchProblem()"
                                                   type="text"
                                                   class="form-control textbox-search-problem"
                                                   placeholder="题目ID或名称" />
                                        </p>
                                        <div class="problem-filter-list">
                                            <div class="problem-filter-list-item" v-for="x in problemSearchResult" v-on:click="selectProblem(x.id, x.title)">
                                                <div class="problem-filter-list-item-title">{{ x.title }}</div>
                                                <div class="problem-filter-list-item-id">ID: {{ x.id }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="text" class="thin-textbox" value="100" id="txtPoint" /></td>
                                <td><a v-on:click="addProblem(selectedProblem.id)" class="color-primary">添加</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="area-item" v-if="current === 'language'">
                    <div class="area-title">语言控制</div>
                    <table class="table-inline">
                        <thead>
                            <tr>
                                <th>语言</th>
                                <th>设置</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in allLanguages">
                                <td>{{ x }}</td>
                                <td>
                                    <select class="language-ban-selector thin-textbox" v-bind:data-value="x">
                                        <option value="allow" v-bind:selected="!languages.some(y => y === x)">允许</option>
                                        <option value="deny" v-bind:selected="languages.some(y => y === x)">禁止</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div><input type="button" value="保存" class="btn btn-default" style="margin: 10px 0 -10px -10px" v-on:click="saveBanLang()" /></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section all-buttons">
                <a class="sidebar-section-button vue-resolved" 
                   v-bind:href="$root.resolveUrl({name: '/contest/:id/edit', path: '/contest/' + id + '/edit', params: { id: id }})"
                   v-on:click="$root.redirect('/contest/:id/edit', '/contest/' + id + '/edit', { id: id })" 
                   v-bind:class="{ 'active': current === 'basic' }">
                    <i class="fa fa-edit"></i>
                    <span>编辑比赛信息</span>
                </a>
                <a class="sidebar-section-button" 
                   v-bind:href="$root.resolveUrl({name: '/contest/:id/edit', path: '/contest/' + id + '/edit', params: { id: id }, query: { current: 'problem' }})"
                   v-on:click="$root.redirect('/contest/:id/edit', '/contest/' + id + '/edit', { id: id }, { current: 'problem' })" 
                   v-bind:class="{ 'active': current === 'problem' }">
                    <i class="fa fa-tasks"></i>
                    <span>编辑比赛题目</span>
                </a>
                <a class="sidebar-section-button" v-on:click="current = 'language'" v-bind:class="{ 'active': current === 'language' }">
                    <i class="fa fa-times-circle-o"></i>
                    <span>参赛语言控制</span>
                </a>
                <hr class="sidebar-hr" />
                <router-link :to="{ name: '/contest/:id', path: '/contest/' + id, params: { 'id': id } }"
                             class="sidebar-section-button">
                    <i class="fa fa-mail-reply"></i>
                    <span>返回比赛</span>
                </router-link>
            </div>
        </div>
    </div>
</div>