<div class="container" id="contest">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer problem-body">
                <div class="area-item">
                    <div v-html="$root.marked(body)"></div>
                </div>
            </div>

            <div class="area-outer" v-if="status !== 'Pending' && problems.length">
                <div class="area-item">
                    <div class="area-title">题目列表</div>
                    <table class="table-inline">
                        <thead>
                            <tr>
                                <th v-if="$root.user.isSignedIn">状态</th>
                                <th>编号</th>
                                <th>题目</th>
                                <th>分值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in problems">
                                <td v-if="$root.user.isSignedIn">{{ x.status }}</td>
                                <td>{{ x.number }}</td>
                                <td>
                                    <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.problemId + '?contest=' + id, params: { 'id': x.problemId } }">{{ x.problemTitle || x.problemId }}</router-link>
                                </td>
                                <td>{{ x.point }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section" v-if="status !== 'Done'">
                <div class="sidebar-section-header">
                    <h1>{{ status === 'Live' ? '距离比赛结束' : '距离比赛开始' }}</h1>
                </div>
                <div class="sidebar-section-body contest-countdown" v-bind:datetime="status === 'Live' ? endTimestamp : beginTimestamp">
                </div>
            </div>

            <div class="sidebar-section all-buttons">
                <template v-if="needRegister && ($root.ensureUTCTimeString(end) <= new Date()) || !disableVirtual">
                    <router-link :to="{ name: '/contest/:id/register', path: '/contest/' + id + '/register', params: { id: id }}"
                                 class="sidebar-section-button highlight">
                        <i class="fa fa-sign-in"></i>
                        <span>报名参赛</span>
                    </router-link>
                    <hr class="sidebar-hr" v-if="hasPermissionToEdit" />
                </template>
                <a class="sidebar-section-button active">
                    <i class="fa fa-trophy"></i>
                    <span>比赛首页</span>
                </a>
                <a class="sidebar-section-button">
                    <i class="fa fa-flag"></i>
                    <span>比赛排名</span>
                </a>
                <a class="sidebar-section-button">
                    <i class="fa fa-question-circle"></i>
                    <span>比赛答疑</span>
                </a>
                <router-link :to="{ name: '/judge/all', path: '/judge/all?selectedContest.id=' + encodeURIComponent(id) + '&selectedContest.title=' + encodeURIComponent(title), params: { }}"
                             class="sidebar-section-button">
                    <i class="fa fa-clock-o"></i>
                    <span>提交记录</span>
                </router-link>
                <hr class="sidebar-hr" v-if="hasPermissionToEdit" />
                <router-link v-if="hasPermissionToEdit"
                             :to="{ name: '/contest/:id/edit', path: '/contest/' + id + '/edit', params: { id: id } }"
                             class="sidebar-section-button">
                    <i class="fa fa-cog"></i>
                    <span>管理比赛</span>
                </router-link>
            </div>
        </div>
    </div>
</div>