<div id="contest-standings" class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table-list standings-list">
                <colgroup>
                    <col style="width: 60px;" />
                    <col style="width: 47px;" />
                    <col style="width: 150px;" />
                    <col v-for="x in columns"style="width: 80px;" />
                    <col v-for="x in problems" />
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan="2">选手</th>
                        <th v-for="x in columns" class="point-column">{{ x }}</th>
                        <th v-for="x in problems" class="problem-column">{{ x.number }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(x, index) in attendees">
                        <td>{{ index + 1 }}</td>
                        <td><img v-bind:src="x.avatarUrl" class="standings-avatar" /></td>
                        <td v-bind:class="x.roleClass">
                            <router-link :to="{ name: '/user/:username', path: '/user/' + x.username, params: { 'username': x.username } }">
                                {{ x.username || x.userId.substr(0,8) }}
                            </router-link>
                        </td>
                        <td v-for="(a,b) in columns" class="point-column" v-html="$root.xss(x[b.toLowerCase() + 'Display'] ? x[b.toLowerCase() + 'Display'].replace('\n', '<br />') : null)"></td>
                        <td v-for="a in problems" class="problem-column" v-html="$root.xss(x.detail[a.id] ? x.detail[a.id].display.replace('\n', '<br />') : null)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>