<div id="problem-all" class="container">
    <div class="row">
        <div class="col-md-9">
            <table class="table-list problem-list">
                <colgroup>
                    <col />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>题目</th>
                        <th>提交</th>
                        <th>AC%</th>
                        <th>难度</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="problem in result">
                        <td>
                            <router-link :to="{ name: '/problem/:id', path: '/problem/' + problem.id, params: { 'id': problem.id } }">A+B Problem</router-link>
                            <div 
                                 class="problem-tag"
                                 v-on:click="triggerTag(tag)"
                                 v-for="tag in problem.tags ? problem.tags.split(',').map(x => x.trim()).sort() : []">{{ tag.split(':').slice(-1).pop() }}</div>
                        </td>
                        <td>{{ problem.cachedAcceptedCount }}</td>
                        <td>{{ problem.cachedSubmitCount ? (problem.cachedAcceptedCount / problem.cachedSubmitCount).toFixed(0) : '0' }}%</td>
                        <td>{{ problem.difficulty }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="tfoot-paging">
                            <div class="tfoot-paging-outer">
                                <a class="tfoot-paging-item" v-on:click="toPage(1)">首页</a>
                                <a class="tfoot-paging-item" v-on:click="toPage(Math.max(paging.current - 1, 1))">上一页</a>
                                <div class="tfoot-paging-item" v-if="paging.current > 3">...</div>
                                <a class="tfoot-paging-item"
                                   v-for="p in 5"
                                   v-if="paging.current + p - 3 >= 1 && paging.current + p - 3 <= paging.count"
                                   v-on:click="toPage(paging.current + p - 3)"
                                   v-bind:class="{ 'current': paging.current + p - 3 === paging.current }">
                                    {{ paging.current + p - 3 }}
                                </a>
                                <div class="tfoot-paging-item" v-if="paging.current < paging.count - 2">...</div>
                                <a class="tfoot-paging-item" v-on:click="toPage(Math.min(paging.current + 1, paging.count))">下一页</a>
                                <a class="tfoot-paging-item" v-on:click="toPage(paging.count)">尾页</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-md-3">
            <div class="sidebar-section">
                <div v-for="tag in tags" class="tag-outer">
                    <div class="sidebar-section-header">
                        <h1>{{ tag.text }}</h1>
                    </div>
                    <div class="sidebar-section-body">
                        <ul class="tag-list">
                            <li v-for="sub in tag.data">
                                <a v-if="typeof sub == 'string'" v-bind:data-value="tag.text + ':' + sub" v-on:click="triggerTag(tag.text + ':' + sub)" class="tag-item">{{ sub }}</a>
                                <a v-if="typeof sub == 'object'" v-bind:data-value="tag.text + ':' + sub.text" v-on:click="triggerTag(tag.text + ':' + sub.text)" class="tag-item">{{ sub.text }}</a>
                                <div v-if="typeof sub == 'object'" v-bind:data-parent="tag.text + ':' + sub.text" class="tag-extend-outer">
                                    <ul class="tag-list">
                                        <li v-for="final in sub.data"><a class="tag-item" v-bind:data-value="tag.text + ':' + sub.text + ':' + final" v-on:click="triggerTag(tag.text + ':' + sub.text + ':' + final)">{{ final }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>搜索题目</h1>
                </div>
                <div class="sidebar-section-body">
                    <p><input type="text" class="form-control" placeholder="题目名称或ID" /></p>
                    <p><a class="sidebar-button"><i class="fa fa-search"></i> 搜索</a></p>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>统计</h1>
                </div>
                <div class="sidebar-section-body">
                    <p>123 道题目</p>
                </div>
            </div>
        </div>
    </div>
</div>