<div id="problem-all" class="container">
    <div class="row">
        <div class="grid_9">
            <table class="table-list problem-list">
                <colgroup>
                    <col />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>题目</th>
                        <th>提交</th>
                        <th>AC%</th>
                        <th>难度</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+B Problem <div class="problem-tag">NOIP</div><div class="problem-tag">2017</div></td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem <div class="problem-tag">NOIP</div><div class="problem-tag">2017</div></td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="tfoot-paging">
                            <div class="tfoot-paging-outer">
                                <div class="tfoot-paging-item">首页</div>
                                <div class="tfoot-paging-item">上一页</div>
                                <div class="tfoot-paging-item">1</div>
                                <div class="tfoot-paging-item current">2</div>
                                <div class="tfoot-paging-item">3</div>
                                <div class="tfoot-paging-item">4</div>
                                <div class="tfoot-paging-item">下一页</div>
                                <div class="tfoot-paging-item">尾页</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="grid_3">
            <div class="sidebar-section">
                <div v-for="tag in tags" class="tag-outer">
                    <div class="sidebar-section-header">
                        <h1>{{ tag.text }}</h1>
                    </div>
                    <div class="sidebar-section-body">
                        <ul class="tag-list">
                            <li v-for="sub in tag.data">
                                <a v-if="typeof sub == 'string'" v-bind:data-value="tag.text + ':' + sub" v-on:click="triggerTag(tag.text + ':' + sub)" class="tag-item">{{ sub }}</a>
                                <a v-if="typeof sub == 'object'" v-bind:data-value="tag.text + ':' + sub.text" v-on:click="triggerTag(tag.text + ':' + sub.text)" class="tag-item">{{ sub.text }}</a>
                                <div v-if="typeof sub == 'object'" v-bind:data-parent="tag.text + ':' + sub.text" class="tag-extend-outer">
                                    <ul class="tag-list">
                                        <li v-for="final in sub.data"><a class="tag-item" v-bind:data-value="tag.text + ':' + sub.text + ':' + final" v-on:click="triggerTag(tag.text + ':' + sub.text + ':' + final)">{{ final }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>搜索题目</h1>
                </div>
                <div class="sidebar-section-body">
                    <p><input type="text" class="form-control" placeholder="题目名称或ID" /></p>
                    <p><a class="sidebar-button"><i class="fa fa-search"></i> 搜索</a></p>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>统计</h1>
                </div>
                <div class="sidebar-section-body">
                    <p>123 道题目</p>
                </div>
            </div>
        </div>
    </div>
</div>