<div id="problem-all" class="container">
    <div class="row">
        <div class="grid_9">
            <table class="problem-list">
                <colgroup>
                    <col />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                    <col style="width: 60px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>题目</th>
                        <th>提交</th>
                        <th>AC%</th>
                        <th>难度</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>A+B Problem</td>
                        <td>1</td>
                        <td>100%</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>