<div class="container" id="problem-edit">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item" v-if="active === 'basic'">
                    <div class="area-title">基本信息</div>
                    <div>
                        <p>
                            <label>标题</label>
                            <input type="text" class="form-control" v-model="title" />
                        </p>
                        <p>
                            <label>时间限制 (ms)</label>
                            <input type="text" class="form-control" v-model="timeLimitationPerCaseInMs" />
                        </p>
                        <p>
                            <label>空间限制 (bytes)</label>
                            <input type="text" class="form-control" v-model="memoryLimitationPerCaseInByte" />
                        </p>
                        <p>
                            <label>题目难度 (0-9) <small><a href="http://help.joyoi.cn/online-judge/problem/create.md" target="_blank">如何评定题目难度？</a></small></label>
                            <input type="text" class="form-control" v-model="difficulty" />
                        </p>
                        <p>
                            <label>
                                是否展示题目
                                <input type="checkbox" v-model="isVisible" />
                                <small><a href="http://help.joyoi.cn/online-judge/problem/create.md" target="_blank">什么时候需要隐藏题目？</a></small>
                            </label>
                        </p>
                        <p>
                            <label>题面内容 (markdown)</label>
                            <textarea class="markdown-textbox" v-model="body" />
                        </p>
                        <p>
                            <a class="btn btn-default" v-on:click="saveBasic()"><i class="fa fa-save"></i> 保存</a>
                        </p>
                    </div>
                </div>
                <div class="area-item" v-if="active === 'tag'">
                    <div class="area-title">题目标签</div>
                    <div v-for="tag in tags" class="tag-outer">
                        <div class="sidebar-section-header">
                            <h1>{{ tag.text }}</h1>
                        </div>
                        <div class="sidebar-section-body">
                            <ul class="tag-list wide">
                                <li v-for="sub in tag.data">
                                    <a v-if="typeof sub == 'string'" v-bind:data-value="tag.text + ':' + sub" v-on:click="triggerTag(tag.text + ':' + sub)" v-bind:class="{ active: selected.some(x => x == tag.text + ':' + sub) }" class="tag-item">{{ sub }}</a>
                                    <a v-if="typeof sub == 'object'" v-bind:data-value="tag.text + ':' + sub.text" v-on:click="triggerTag(tag.text + ':' + sub.text)" v-bind:class="{ active: selected.some(x => x == tag.text + ':' + sub.text) }" class="tag-item">{{ sub.text }}</a>
                                    <div v-if="typeof sub == 'object'" v-bind:data-parent="tag.text + ':' + sub.text" class="tag-extend-outer">
                                        <ul class="tag-list">
                                            <li v-for="final in sub.data"><a class="tag-item" v-bind:data-value="tag.text + ':' + sub.text + ':' + final" v-on:click="triggerTag(tag.text + ':' + sub.text + ':' + final)" v-bind:class="{ active: selected.some(x => x == tag.text + ':' + sub.text + ':' + final) }">{{ final }}</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p><a class="btn btn-default" v-on:click="saveTags()">保存</a></p>
                </div>
                <div class="area-item dark" v-if="active === 'spj'">
                    <div class="area-title">特殊比较器</div>
                    <div class="problem-edit-compile-error-message" v-if="validator.error">
                        <div class="problem-edit-compile-error-message-title"><i class="fa fa-times-circle"></i> Error</div>
                        <div v-html="$root.marked(validator.error)"></div>
                    </div>
                    <div class="code-box-outer">
                        <pre class="code-box editable spjEditor" v-bind:data-language="validator.language">{{ validator.code }}</pre>
                        <div class="problem-edit-buttons-outer">
                            <a class="code-editor-button" v-on:click="saveSpj()"><i class="fa fa-save"></i> 保存比较器</a>
                            <select class="code-editor-button" v-model="validator.language">
                                <option v-for="language in languages">{{ validator.language }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="area-item dark" v-if="active === 'std'">
                    <div class="area-title">标准程序</div>
                    <div class="problem-edit-compile-error-message" v-if="standard.error">
                        <div class="problem-edit-compile-error-message-title"><i class="fa fa-times-circle"></i> Error</div>
                        <div v-html="$root.marked(standard.error)"></div>
                    </div>
                    <div class="code-box-outer">
                        <pre class="code-box editable stdEditor" v-bind:data-language="standard.language">{{ standard.code }}</pre>
                        <div class="problem-edit-buttons-outer">
                            <a class="code-editor-button" v-on:click="saveStd()"><i class="fa fa-save"></i> 保存标准程序</a>
                            <select class="code-editor-button" v-model="standard.language">
                                <option v-for="language in languages">{{ standard.language }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="area-item dark" v-if="active === 'range'">
                    <div class="area-title">数据校验器</div>
                    <div class="problem-edit-compile-error-message" v-if="range.error">
                        <div class="problem-edit-compile-error-message-title"><i class="fa fa-times-circle"></i> Error</div>
                        <div v-html="$root.marked(range.error)"></div>
                    </div>
                    <div class="code-box-outer">
                        <pre class="code-box editable rangeEditor" v-bind:data-language="range.language">{{ range.code }}</pre>
                        <div class="problem-edit-buttons-outer">
                            <a class="code-editor-button" v-on:click="saveRange()"><i class="fa fa-save"></i> 保存数据校验器</a>
                            <select class="code-editor-button" v-model="range.language">
                                <option v-for="language in languages">{{ range.language }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="area-item" v-if="active === 'testcase' && testCases.length">
                    <div class="area-title">测试数据</div>
                    <table class="table-inline">
                        <thead>
                            <tr>
                                <th>输入文件</th>
                                <th>输出文件</th>
                                <th>类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(x,index) in testCases">
                                <td>input{{ index + 1 }}.txt ({{ (x.inputSizeInByte / 1024.0).toFixed(1) }} KiB)</td>
                                <td>output{{ index + 1 }}.txt ({{ (x.outputSizeInByte / 1024.0).toFixed(1) }} KiB)</td>
                                <td>{{ x.type }}</td>
                                <td><a v-on:click="removeTestCase(x.id)">删除</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="test-case-type-outer text-left">
                        <div class="tag-item" v-bind:class="{ 'primary': uploadMode === 'zip' }" v-on:click="uploadMode = uploadMode === 'zip' ? null : 'zip'"><i class="fa fa-file-zip-o"></i> 打包上传数据</div>
                        <div class="tag-item" v-bind:class="{ 'primary': uploadMode === 'input' }" v-on:click="uploadMode = uploadMode === 'input' ? null : 'input'"><i class="fa fa-pencil-square-o"></i> 输入上传数据</div>
                    </div>
                </div>
                <div class="area-item" v-if="active === 'testcase' && (uploadMode === 'zip' || !testCases.length)">
                    <div class="area-title">上传测试数据</div>
                    <div class="upload-button-outer" v-on:click="selectZipFile">
                        <i class="fa fa-cloud-upload upload-button"></i>
                        <br />
                        <span>点击此处上传打包测试数据</span>
                    </div>
                    <div class="test-case-type-outer">
                        <div class="tag-item"
                             v-for="(x,y) in testCaseType"
                             v-on:click="zipSelectedTestCaseType = y"
                             v-bind:data-value="y"
                             v-bind:class="{ 'active': zipSelectedTestCaseType === y }">{{ x }}</div>
                    </div>
                    <table class="infobox" style="margin-top: 25px;">
                        <tr>
                            <td class="infobox-icon"><i class="fa fa-exclamation-circle" style="color: #4c99c4"></i></td>
                            <td class="infobox-text">对于不同的数据类型，将对日常评测和比赛评测造成不同的影响，<a target="_blank" href="http://help.joyoi.cn/online-judge/problem/create.md">点击这里了解更多</a>。请将测试数据打包成*.zip文件，并确保.in文件与.out或.ans文件名称一一对应。</td>
                        </tr>
                    </table>
                    <input type="file" id="fileUpload" class="upload-button-hidden" />
                </div>
                <div class="area-item" v-if="active === 'testcase' && (uploadMode === 'input' || !testCases.length)">
                    <div class="area-title">输入测试数据</div>
                    <table class="sample-data-table">
                        <thead>
                            <tr>
                                <th>input{{ testCases.length + 1 }}.txt</th>
                                <th>output{{ testCases.length + 1 }}.txt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><textarea id="txtInput" class="form-control" style="height: 200px;"></textarea></td>
                                <td><textarea id="txtOutput" class="form-control" style="height: 200px;"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="infobox" style="margin: 25px 0;">
                        <tr>
                            <td class="infobox-icon"><i class="fa fa-exclamation-circle" style="color: #4c99c4"></i></td>
                            <td class="infobox-text">对于不同的数据类型，将对日常评测和比赛评测造成不同的影响，<a target="_blank" href="http://help.joyoi.cn/online-judge/problem/create.md">点击这里了解更多</a></td>
                        </tr>
                    </table>
                    <div class="test-case-type-outer text-left">
                        <div class="tag-item primary" v-on:click="uploadInputTestCase()"><i class="fa fa-cloud-upload"></i> 上传测试用例</div>
                        <div class="tag-item"
                             v-for="(x,y) in testCaseType"
                             v-on:click="inputSelectedTestCaseType = y"
                             v-bind:data-value="y"
                             v-bind:class="{ 'active': inputSelectedTestCaseType === y }">{{ x }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section all-buttons">
                <a class="sidebar-section-button" 
                   v-on:click="active = 'basic'" 
                   v-bind:class="{ active: active === 'basic' }">
                    <i class="fa fa-edit"></i>
                    <span>基本信息</span>
                </a>
                <a class="sidebar-section-button" 
                   v-on:click="active = 'tag'" 
                   v-bind:class="{ active: active === 'tag' }">
                    <i class="fa fa-tag"></i>
                    <span>标签管理</span>
                </a>
                <a class="sidebar-section-button"
                   v-if="source === 'Local'"
                   v-on:click="active = 'testcase'"
                   v-bind:class="{ active: active === 'testcase' }">
                    <i class="fa fa-database"></i>
                    <span>测试用例</span>
                </a>
                <a class="sidebar-section-button"
                   v-if="source === 'Local'"
                   v-on:click="active=''; setTimeout(function(){ active = 'spj'; }, 150)"
                   v-bind:class="{ active: active === 'spj' }">
                    <i class="fa fa-file-code-o"></i>
                    <span>特殊比较器</span>
                </a>
                <a class="sidebar-section-button"
                   v-if="source === 'Local'"
                   v-on:click="active=''; setTimeout(function(){ active = 'std'; }, 150)"
                   v-bind:class="{ active: active === 'std' }">
                    <i class="fa fa-file-code-o"></i>
                    <span>标准程序</span>
                </a>
                <a class="sidebar-section-button"
                   v-if="source === 'Local'"
                   v-on:click="active=''; setTimeout(function(){ active = 'range'; }, 150)"
                   v-bind:class="{ active: active === 'range' }">
                    <i class="fa fa-file-code-o"></i>
                    <span>数据校验器</span>
                </a>
                <hr class="sidebar-hr" />
                <router-link :to="{ name: '/problem/:id', path: '/problem/' + id, params: { 'id': id } }"
                             class="sidebar-section-button">
                    <i class="fa fa-mail-reply"></i>
                    <span>返回题目</span>
                </router-link>
            </div>
        </div>
    </div>
</div>