<div class="container" id="problem">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer problem-body" v-bind:class="{ 'edit-mode': control.isInEditMode }">
                <div class="area-item">
                    <h1 class="area-title">题目限制</h1>
                    <div>
                        <table class="limitation-table">
                            <tr>
                                <td>时间限制</td>
                                <td>内存限制</td>
                                <td>评测方式</td>
                                <td>题目来源</td>
                            </tr>
                            <tr>
                                <td>{{ timelimit }}ms</td>
                                <td>{{ memorylimit / 1024 }}KiB</td>
                                <td>{{ isSpecialJudge ? '特殊比较器' : '标准比较器' }}</td>
                                <td>{{ source }}</td>
                            </tr>
                        </table>
                    </div>
                    <div v-html="renderedBody" class="problem-render"></div>
                    <h1 v-if="sampleData.length">样例数据</h1>
                    <div v-if="sampleData.length" v-for="(data,index) in sampleData" v-bind:class="{ 'sample-data-outer': index > 0 }">
                        <table class="sample-data-table">
                            <thead>
                                <tr>
                                    <th>输入样例 #{{ index + 1 }}</th>
                                    <th>输出样例 #{{ index + 1 }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><pre>{{ data.input }}</pre></td>
                                    <td><pre>{{ data.output }}</pre></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section all-buttons">
                <a v-if="$root.user.isSignedIn" class="sidebar-section-button highlight" v-on:click="goToEditMode()">
                    <i class="fa fa-code"></i>
                    <span>进入编程模式</span>
                </a>
                <a v-if="$root.user.isSignedIn" class="sidebar-section-button trigger-submit-mode" v-on:click="goToSubmitMode()">
                    <i class="fa fa-terminal"></i>
                    <span>提交评测</span>
                </a>
                <a v-if="!$root.user.isSignedIn" class="sidebar-section-button highlight login" v-on:click="$root.toggleLoginBox()">
                    <i class="fa fa-key login"></i>
                    <span class="login">登录后提交</span>
                </a>
                <a class="sidebar-section-button">
                    <i class="fa fa-database"></i>
                    <span>查看测试数据</span>
                </a>
                <a class="sidebar-section-button">
                    <i class="fa fa-clock-o"></i>
                    <span>提交记录</span>
                </a>
                <hr class="sidebar-hr" />
                <a class="sidebar-section-button">
                    <i class="fa fa-commenting-o"></i>
                    <span>跳转至讨论</span>
                </a>
                <a class="sidebar-section-button">
                    <i class="fa fa-check-circle-o"></i>
                    <span>跳转至题解</span>
                </a>
                <hr class="sidebar-hr" v-if="hasPermissionToEdit" />
                <router-link 
                        :to="{ name: '/problem/:id/edit', path: '/problem/' + id + '/edit', params: { 'id': id } }" 
                        v-if="hasPermissionToEdit"
                        class="sidebar-section-button">
                    <i class="fa fa-cog"></i>
                    <span>管理题目</span>
                </router-link>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>评价题目</h1>
                </div>
                <div class="sidebar-section-body">
                    <table class="evaluate-table">
                        <tr>
                            <td><a><i class="fa fa-caret-left evaluate-down"></i></a></td>
                            <td>123</td>
                            <td><a><i class="fa fa-caret-right evaluate-up"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div v-if="control.isInEditMode" class="problem-body-set-off"></div>
    <div class="code-editor-outer" v-bind:class="{ 'edit-mode': control.isInEditMode, 'submit-mode': control.isInSubmitMode }">
        <div class="code-editor-header">
            <a 
               class="code-editor-button" 
               v-bind:class="{ 'active': control.editorActiveTag === 'code' }"
               v-on:click="changeEditorMode('code')"><i class="fa fa-code"></i> 代码编辑</a>
            <a 
               class="code-editor-button" 
               v-bind:class="{ 'active': control.editorActiveTag == 'data' }"
               v-on:click="changeEditorMode('data')"><i class="fa fa-database"></i> 自测数据{{ form.data.length ? ' (' + form.data.length + ')' : '' }}</a>
            <select class="code-editor-button" v-model="form.language">
                <option v-for="language in control.languages">{{ language }}</option>
            </select>
            <a 
               class="code-editor-button float-right" 
               v-on:click="changeEditorMode('judge')"><i class="fa fa-play"></i> {{ form.data.length ? '提交自测' : '提交评测' }}</a>
            <a 
               class="code-editor-button float-right" 
               v-on:click="backToViewMode()"><i class="fa" v-bind:class="{ 'fa-mail-reply': control.isInEditMode, 'fa-close': control.isInSubmitMode }"></i> {{ control.isInEditMode ? '返回题目' : '关闭' }}</a>
        </div>

        <!-- Code editor -->
        <pre id="code-editor" class="ace_editor ace-twilight ace_dark" v-bind:class="{ 'active': control.editorActiveTag == 'code' }">{{ form.code }}</pre>

        <!-- Data editor -->
        <div class="data-editor" v-bind:class="{ 'active': control.editorActiveTag == 'data' }">
            <div v-for="(data, index) in form.data">
                <div>
                    <div class="data-title">
                        <i class="fa fa-database"></i> 自测数据 #{{ index + 1 }} <a class="data-remove-button" v-on:click="removeData(index)"><i class="fa fa-minus-square"></i> 删除数据</a>
                    </div>
                    <table class="data-text-area-table">
                        <tr>
                            <td>
                                <textarea class="form-control data-text-area" v-model="form.data[index].input" placeholder="输入数据"></textarea>
                            </td>
                            <td>
                                <textarea class="form-control data-text-area" v-model="form.data[index].output" placeholder="预期输出"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <a class="data-add-data-button" v-on:click="addData()"><i class="fa fa-plus-square"></i> 添加数据</a>
        </div>

        <!-- Result panel -->
        <div class="judge-panel" v-bind:class="{ 'active': control.editorActiveTag == 'judge' }">
            <div class="judge-panel-status" 
                 v-if="control.statuses.filter(x => x.display === judgeResult).length"
                 v-bind:class="{ 'judge-panel-color-blue': control.statuses.filter(x => x.display === judgeResult)[0].color === 'blue', 'judge-panel-color-red': control.statuses.filter(x => x.display === judgeResult)[0].color === 'red', 'judge-panel-color-orange': control.statuses.filter(x => x.display === judgeResult)[0].color === 'orange', 'judge-panel-color-green': control.statuses.filter(x => x.display === judgeResult)[0].color === 'green' }">{{ judgeResult }}</div>
            <div class="judge-panel-summary-hint" v-if="result.hint">{{ result.hint }}}</div>
            <div class="judge-panel-table-outer">
                <table class="judge-panel-table">
                    <colgroup>
                        <col style="width: 70px" />
                        <col />
                        <col style="width: 120px" />
                        <col style="width: 120px" />
                    </colgroup>
                    <template v-for="(sub, index) in result.substatuses">
                        <tr>
                            <td 
                                v-bind:class="{ 'judge-panel-border-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-border-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-border-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-border-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">#{{ index + 1 }}</td>
                            <td 
                                v-on:click="toggleStatusHint(index)"
                                v-bind:class="{ 'judge-panel-color-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-color-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-color-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-color-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">{{ sub.status }}</td>
                            <td>{{ sub.time }}ms</td>
                            <td>{{ (sub.memory / 1024 / 1024).toFixed(2) }}MiB</td>
                        </tr>
                        <tr>
                            <td colspan="4" 
                                v-bind:class="{ 'judge-panel-border-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-border-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-border-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-border-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">
                                <div class="judge-panel-hint">
                                    {{ sub.hint }}
                                </div>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>

    <a v-if="control.isInEditMode"
       v-on:click="backToViewMode()"
       class="back-to-view-mode">
        <i class="fa fa-close"></i> 退出编程模式
    </a>

    <div class="split-line problem-edit-split-line" v-if="control.isInEditMode"></div>
</div>