<div class="container" id="problem">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title">A+B Problem</div>
                    <div>123</div>
                    <div class="contest-footer">
                        <div class="contest-footer-icon" style="color: #1d76c7"><i class="fa fa-arrow-circle-right"></i> Ready</div>
                        <div class="contest-footer-icon"><i class="fa fa-trophy"></i> ACM/ICPC</div>
                        <div class="contest-footer-icon"><i class="fa fa-users"></i> 348</div>
                        <div class="contest-footer-icon"><i class="fa fa-calendar"></i> 2017-08-13 9:00</div>
                        <div class="contest-footer-icon"><i class="fa fa-clock-o"></i> 2.5h</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>