<route-script>
    app.title = '题目';
    app.links = [{ text: '题目列表', to: '/problem' }];

    component.data = function () {
        return { 
            title: null,
            background: null,
            description: null,
            inputFormat: null,
            outputFormat: null,
            sampleData: [],
            hint: null,
            timelimit: null,
            memorylimit: null,
            isSpecialJudge: null,
            source: null,
            isInEditMode: false,
            languages: languages,
            editorActiveTag: 'code',
            editorContent: ''
        };
    };

    component.created = function () {
        this.title = 'A+B Problem';
        this.description = 'Input 2 integers, output the sum result.';
        this.inputFormat = 'One line, contains two integer which splited by a space.';
        this.outputFormat = 'One line, the sum result.';
        this.sampleData = [{ input: '1 1', output: '2' }, { input: '2 5', output: '7' }];
        this.timelimit = 1000;
        this.memorylimit = 128 * 1024 * 1024;
        this.isSpecialJudge = false;
        this.source = '本地';
    };

    component.watch = {
        title: function () {
            app.title = this.title;
        }
    };

    component.methods = {
    goToEditMode: function () {
            $('#code-editor')[0].editor.setValue(this.editorContent);
            this.isInEditMode = true;
            app.fullScreen = true;
        },
        backToViewMode: function () {
            this.editorContent = $('#code-editor')[0].editor.getValue();
            this.isInEditMode = false;
            app.fullScreen = false;
            $('.problem-body').attr('style', '');
        }
    };
</route-script>