<div class="container" id="group-join">
    <div class="row">
        <div class="col-md-offset-2 col-offset col-md-8">
            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title">加入{{ $root.group.name }}</div>
                    <div>
                        <p v-if="step === 0">该团队要求您提交申请并通过该团队管理员审核方能加入，您可以在本页面中提交申请。</p>
                        <p v-if="step === 1">您已经成功提交团队加入申请，请耐心等待管理员审核。</p>
                        <p v-if="step === 0"><input type="text" class="form-control" id="txtMessage" /></p>
                        <a v-if="step === 0" v-on:click="submit()" class="btn btn-default">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
