<div id="judge-all" class="container">
    <div class="row">
        <div class="grid_12">
            <table class="table-list judge-list">
                <colgroup>
                    <col style="width: 170px;" />
                    <col />
                    <col style="width: 125px;" />
                    <col style="width: 70px;" />
                    <col style="width: 70px;" />
                    <col style="width: 80px;" />
                    <col style="width: 200px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <a class="filter-button">{{ selectedStatus !== null ? statuses[selectedStatus].display : '状态' }} <i class="fa fa-filter"></i></a>
                            <div class="filter-outer status-filter">
                                <ul class="filter-list">
                                    <li v-for="status in statuses">
                                        <a v-bind:data-value="status.value" v-bind:class="{ 'judge-red': status.color === 'red', 'judge-green': status.color === 'green', 'judge-orange': status.color === 'orange', 'judge-blue': status.color === 'blue', 'judge-purple': status.color === 'purple' }" v-on:click="filterStatus(status.value)" class="filter-item">
                                            <i class="fa" v-bind:class="{ 'fa-question': status.color === 'blue', 'fa-check': status.color === 'green', 'fa-eye-slash': status.color === 'purple', 'fa-exclamation': status.color === 'orange', 'fa-remove': status.color === 'red' }"></i>
                                            {{ status.display }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                        <th>
                            <a class="filter-button">{{ selectedProblem ? selectedProblem.display : '题目' }} <i class="fa fa-filter"></i></a>
                            <div class="filter-outer problem-filter">
                                <p><input type="text" class="form-control" placeholder="题目ID或名称" /></p>
                                <div class="problem-filter-list">
                                    <div class="problem-filter-list-item">
                                        <div class="problem-filter-list-item-title">A+B Problem</div>
                                        <div class="problem-filter-list-item-id">ID: a-plus-b-problem</div>
                                    </div>
                                    <div class="problem-filter-list-item">
                                        <div class="problem-filter-list-item-title">A+B Problem</div>
                                        <div class="problem-filter-list-item-id">ID: a-plus-b-problem</div>
                                    </div>
                                    <div class="problem-filter-list-item">
                                        <div class="problem-filter-list-item-title">A+B Problem</div>
                                        <div class="problem-filter-list-item-id">ID: a-plus-b-problem</div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <a class="filter-button">{{ selectedUser ? selectedUser : '提交者' }} <i class="fa fa-filter"></i></a>
                            <div class="filter-outer submit-filter">
                                <p><input type="text" class="form-control" placeholder="用户名" /></p>
                                <div class="submit-filter-list">
                                    <div class="submit-filter-list-item">
                                        <img src="/images/non-avatar.png" class="submit-filter-list-item-avatar" />
                                        <div class="submit-filter-list-item-username">Yuko</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="submit-filter-list-item">
                                        <img src="/images/non-avatar.png" class="submit-filter-list-item-avatar" />
                                        <div class="submit-filter-list-item-username">Yuko</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="submit-filter-list-item">
                                        <img src="/images/non-avatar.png" class="submit-filter-list-item-avatar" />
                                        <div class="submit-filter-list-item-username">Yuko</div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>耗时</th>
                        <th>内存</th>
                        <th>
                            <a class="filter-button">{{ selectedLanguage ? selectedLanguage : '语言' }} <i class="fa fa-filter"></i></a>
                            <div class="filter-outer language-filter">
                                <ul class="filter-list">
                                    <li v-for="language in languages">
                                        <a v-bind:data-value="language" v-on:click="filterLanguage(language)" class="filter-item">
                                            {{ language }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                        <th>
                            <a class="filter-button">{{ selectedTime ? (( selectedTime.start ? selectedTime.start : '' ) + (  selectedTime.end ? selectedTime.end + ' ~ ' : '' )) : '提交时间' }} <i class="fa fa-filter"></i></a>
                            <div class="filter-outer time-filter">
                                <p><input type="text" class="form-control datetime" placeholder="起始时间" /></p>
                                <p><input type="text" class="form-control datetime" placeholder="结束时间" /></p>
                                <p><a class="sidebar-button"><i class="fa fa-filter"></i> 过滤</a></p>
                                <p><a class="sidebar-button"><i class="fa fa-ban"></i> 清除</a></p>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="judge-blue"><i class="fa fa-question"></i>Pending</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-purple"><i class="fa fa-eye-slash"></i>Hidden</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-green"><i class="fa fa-check"></i>Accepted</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-orange"><i class="fa fa-exclamation"></i>Compile Error</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-red"><i class="fa fa-remove"></i>Memory Exceeded</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="tfoot-paging">
                            <div class="tfoot-paging-outer">
                                <div class="tfoot-paging-item">首页</div>
                                <div class="tfoot-paging-item">上一页</div>
                                <div class="tfoot-paging-item">1</div>
                                <div class="tfoot-paging-item current">2</div>
                                <div class="tfoot-paging-item">3</div>
                                <div class="tfoot-paging-item">4</div>
                                <div class="tfoot-paging-item">下一页</div>
                                <div class="tfoot-paging-item">尾页</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>