<div id="judge-all" class="container">
    <div class="row">
        <div class="grid_12">
            <table class="table-list judge-list">
                <colgroup>
                    <col style="width: 170px;" />
                    <col />
                    <col />
                    <col style="width: 70px;" />
                    <col style="width: 70px;" />
                    <col style="width: 70px;" />
                    <col style="width: 200px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th>状态</th>
                        <th>题目</th>
                        <th>提交者</th>
                        <th>耗时</th>
                        <th>内存</th>
                        <th>语言</th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="judge-green"><i class="fa fa-check"></i>Accepted</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-orange"><i class="fa fa-warning"></i>Compile Error</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                    <tr>
                        <td class="judge-red"><i class="fa fa-remove"></i>Memory Exceeded</td>
                        <td>A+B Problem</td>
                        <td>Yuko</td>
                        <td>0ms</td>
                        <td>0KiB</td>
                        <td>C</td>
                        <td>2017-08-14 10:50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>