<div class="container" id="status">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title"
                         v-bind:class="{ 'judge-panel-color-green': this.control.statuses.filter(x => x.display === status).length && this.control.statuses.filter(x => x.display === status)[0].color === 'green', 'judge-panel-color-blue': this.control.statuses.filter(x => x.display === status).length && this.control.statuses.filter(x => x.display === status)[0].color === 'blue', 'judge-panel-color-orange': this.control.statuses.filter(x => x.display === status).length && this.control.statuses.filter(x => x.display === status)[0].color === 'orange', 'judge-panel-color-red': this.control.statuses.filter(x => x.display === status).length && this.control.statuses.filter(x => x.display === status)[0].color === 'red' }">{{ status }}</div>
                    <div class="judge-panel-info" v-if="hint" v-bind:class="{ 'judge-panel-hint-bottom-no': status == 'Pending' || status == 'Running' || status == 'Compile Error' || status == 'Unkown Result' }" v-html="$root.marked(hint)"></div>
                    <div class="judge-panel-table-outer-light" v-if="status != 'Pending' && status != 'Running' && status != 'Compile Error' && status != 'Unkown Result'">
                        <table class="judge-panel-table">
                            <colgroup>
                                <col style="width: 70px" />
                                <col />
                                <col style="width: 120px" />
                                <col style="width: 120px" />
                            </colgroup>
                            <template v-for="(sub, index) in substatuses">
                                <tr>
                                    <td v-bind:class="{ 'judge-panel-border-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-border-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-border-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-border-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">
                                        #{{ index + 1 }}
                                    </td>
                                    <td v-on:click="toggleStatusHint(index)"
                                        v-bind:class="{ 'judge-panel-color-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-color-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-color-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-color-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">
                                        {{ sub.status }}
                                    </td>
                                    <td>{{ sub.time }}ms</td>
                                    <td>{{ (sub.memory / 1024 / 1024).toFixed(2) }}MiB</td>
                                </tr>
                                <tr>
                                    <td colspan="4"
                                        v-bind:class="{ 'judge-panel-border-blue': control.statuses.filter(x => x.display === sub.status)[0].color === 'blue', 'judge-panel-border-red': control.statuses.filter(x => x.display === sub.status)[0].color === 'red', 'judge-panel-border-orange': control.statuses.filter(x => x.display === sub.status)[0].color === 'orange', 'judge-panel-border-green': control.statuses.filter(x => x.display === sub.status)[0].color === 'green' }">
                                        <div class="judge-panel-hint" v-html="$root.xss(sub.hint)"></div>
                                    </td>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>

                <div class="area-item dark" v-if="code">
                    <div class="area-title">选手代码 ({{ language }})</div>
                    <div class="code-box-outer">
                        <pre class="code-box">{{ code }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 title-align">
            <div class="sidebar-section">
                <div v-bind:style="{ 'background-image': 'url(/images/' + parseInt(Math.random() * 20 + 1) + '.jpg)' }" class="sidebar-avatar-set-off"></div>
                <div class="sidebar-padding-outer">
                    <img v-bind:src="user.avatarUrl" class="sidebar-avatar" />
                    <div class="sidebar-username" v-bind:class="user.roleClass">
                        <router-link :to="{ name: '/user/:username', path: '/user/' + user.username, params: { 'username': user.username } }">
                            {{ user.username }}
                        </router-link>
                    </div>
                </div>
                <div class="sidebar-padding-outer">
                    <dl>
                        <dt>题目</dt>
                        <dd>
                            <router-link :to="{ name: '/problem/:id', path: '/problem/' + problem.id, params: { 'id': problem.id } }">{{ problem.title || problem.id }}</router-link>
                        </dd>
                        <dt>总耗时</dt>
                        <dd>{{ totalTime }}ms</dd>
                        <dt>峰值内存</dt>
                        <dd>{{ (peakMemory / 1024 / 1024).toFixed(1) }}MiB</dd>
                        <dt>提交时间</dt>
                        <dd>{{ time }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>