<div class="container" id="group-manage">
    <div class="row">
        <div class="col-md-9">
            <div>
                <div class="area-item">
                    <div>
                        <p>
                            <label>团队名称</label>
                            <input type="text" class="form-control" v-model="name" />
                        </p>
                        <p>
                            <label>团队Logo URL</label>
                            <input type="text" class="form-control" v-model="logoUrl" />
                            <br />
                            <img v-bind:src="logoUrl" />
                        </p>
                        <p>
                            <label>团队首页内容</label>
                            <textarea class="markdown-textbox" v-model="description" />
                        </p>
                        <p>
                            <label>团队加入限制</label>
                            <select class="form-control" v-model="joinMethod">
                                <option value="0">任何人均可加入</option>
                                <option value="1">需要管理员审核</option>
                            </select>
                        </p>
                        <p>
                            <label>绑定外部域名</label>
                            <input type="text" class="form-control" v-model="domain" />

                            <table v-if="domain" class="infobox" style="margin: 25px 0;">
                                <tr>
                                    <td class="infobox-icon"><i class="fa fa-exclamation-circle" style="color: #4c99c4"></i></td>
                                    <td class="infobox-text">域名绑定仅在您需要绑定到自己购买的外部域名时需要设置，请在域名管理平台添加CNAME记录，解析至 {{ $root.hosts.group.replace('{GROUPID}', $root.group.id).replace('http://', '') }}。您填写的域名不要包含'http://'或'https://'。</td>
                                </tr>
                            </table>

                        </p>
                        <p>
                            <a class="btn btn-default" v-on:click="save()"><i class="fa fa-save"></i> 保存</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="sidebar-section all-buttons">
                <a class="sidebar-section-button vue-resolved active"
                   v-on:click="$root.redirect('/group/manage', '/group/manage')"
                   src="/group/manage">
                    <i class="fa fa-edit"></i>
                    <span>基本信息</span>
                </a>
                <a class="sidebar-section-button vue-resolved"
                   v-on:click="$root.redirect('/group/manage/member', '/group/manage/member')"
                   src="/group/manage">
                    <i class="fa fa-user"></i>
                    <span>成员管理</span>
                </a>
                <a class="sidebar-section-button vue-resolved"
                   v-on:click="$root.redirect('/group/manage/member', '/group/member', {}, { status: 'Pending' })"
                   src="/group/manage/member?status=Pending">
                    <i class="fa fa-minus-circle"></i>
                    <span>待审核</span>
                </a>
                <a class="sidebar-section-button vue-resolved"
                   v-on:click="$root.redirect('/group/manage/contest', '/group/contest')"
                   src="/group/manage/contest">
                    <i class="fa fa-trophy"></i>
                    <span>比赛管理</span>
                </a>
            </div>
        </div>
    </div>
</div>