<div class="container" id="group-manage">
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title">成员管理</div>

                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section all-buttons">
                <a class="sidebar-section-button active vue-resolved" 
                   v-on:click="$root.redirect('/group/manage', '/group/manage')"
                   src="/group/manage">
                    <i class="fa fa-edit"></i>
                    <span>基本信息</span>
                </a>
                <a class="sidebar-section-button vue-resolved" 
                   v-on:click="$root.redirect('/group/manage/member', '/group/manage/member')"
                   src="/group/manage">
                    <i class="fa fa-user"></i>
                    <span>成员管理</span>
                </a>
                <a class="sidebar-section-button vue-resolved" 
                   v-on:click="$root.redirect('/group/manage/member', '/group/member', {}, { status: 0 })"
                   src="/group/manage/member?status=0">
                    <i class="fa fa-minus-circle"></i>
                    <span>待审核</span>
                </a>
                <a class="sidebar-section-button vue-resolved" 
                   v-on:click="$root.redirect('/group/manage/contest', '/group/contest')"
                   src="/group/manage/contest">
                    <i class="fa fa-trophy"></i>
                    <span>比赛管理</span>
                </a>
            </div>
        </div>
    </div>
</div>