<div class="container" id="group-manage">
    <div class="row">
        <div class="col-md-9">
            <table class="table-list group-member-list">
                <colgroup>
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>团队身份</th>
                        <th>加入时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="x in result">
                        <td v-bind:class="x.roleClass">
                            <router-link :to="{ name: '/user/:username', path: '/user/' + x.userName, params: { 'username': x.username } }">
                                {{ x.username }}
                            </router-link>
                            <span v-if="x.isMaster" class="group-master">管理员</span>
                        </td>
                        <td>
                            <span v-if="x.status === 'Pending'">待审核</span>
                            <span v-else-if="x.status === 'Approved'">正式成员</span>
                            <span v-else>审核未通过</span>
                        </td>
                        <td>{{ $root.toLocalTime(x.joinedTime) }}</td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="tfoot-paging">
                            <div class="tfoot-paging-outer">
                                <a class="tfoot-paging-item" v-on:click="paging.current = (1)">首页</a>
                                <a class="tfoot-paging-item" v-on:click="paging.current = (Math.max(paging.current - 1, 1))">上一页</a>
                                <div class="tfoot-paging-item" v-if="paging.current > 3">...</div>
                                <a class="tfoot-paging-item"
                                   v-for="p in 5"
                                   v-if="paging.current + p - 3 >= 1 && paging.current + p - 3 <= paging.count"
                                   v-on:click="paging.current = paging.current + p - 3"
                                   v-bind:class="{ 'current': paging.current + p - 3 === paging.current }">
                                    {{ paging.current + p - 3 }}
                                </a>
                                <div class="tfoot-paging-item" v-if="paging.current < paging.count - 2">...</div>
                                <a class="tfoot-paging-item" v-on:click="paging.current = (Math.min(paging.current + 1, paging.count))">下一页</a>
                                <a class="tfoot-paging-item" v-on:click="paging.current = (paging.count)">尾页</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section all-buttons">
                <a class="sidebar-section-button vue-resolved" 
                   v-on:click="$root.redirect('/group/manage', '/group/manage')"
                   src="/group/manage">
                    <i class="fa fa-edit"></i>
                    <span>基本信息</span>
                </a>
                <a class="sidebar-section-button vue-resolved"
                   v-bind:class="{ 'active': status === 'Approved' }"
                   v-on:click="$root.redirect('/group/manage/member', '/group/manage/member')"
                   src="/group/manage">
                    <i class="fa fa-user"></i>
                    <span>成员管理</span>
                </a>
                <a class="sidebar-section-button vue-resolved" 
                   v-bind:class="{ 'active': status === 'Pending' }"
                   v-on:click="$root.redirect('/group/manage/member', '/group/member', {}, { status: 'Pending' })"
                   src="/group/manage/member?status=Pending">
                    <i class="fa fa-minus-circle"></i>
                    <span>待审核</span>
                </a>
                <a class="sidebar-section-button vue-resolved" 
                   v-on:click="$root.redirect('/group/manage/contest', '/group/contest')"
                   src="/group/manage/contest">
                    <i class="fa fa-trophy"></i>
                    <span>比赛管理</span>
                </a>
            </div>
        </div>
    </div>
</div>