a {
    cursor: pointer;
}

.avatar-section {
    display: none;
}

.application-item-icon {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 15px;
}

.application-item-content {
    padding: 4px 0;
    float: left;
}

.application-item-title {
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.application-item-details {
    color: #999;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.application-item-btn {
    float: right;
    border-radius: 20px;
    padding: 2px 10px;
    border: 2px solid #ff8080;
    color: #ff8080;
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 14px 5px;
}

    .application-item-btn:hover {
        background: #ff8080;
        color: #fff;
    }

    .application-item-btn.blue {
        border: 2px solid #7baefa;
        color: #7baefa;
    }

        .application-item-btn.blue:hover {
            background: #7baefa;
            color: #fff;
        }

    .application-item-btn.green {
        border: 2px solid #16b368;
        color: #16b368;
    }

        .application-item-btn.green:hover {
            background: #16b368;
            color: #fff;
        }

.clear {
    clear: both;
}

.application-no-result {
    padding: 20px 25px;
}

.application-paging-outer {
    margin-top: 30px;
}

.sidebar-section-button {
    font-weight: 200;
    font-size: 14px;
}

    .sidebar-section-button.nested {
        padding-left: 35px;
    }

    .sidebar-section-button.active-uplevel {
        border-color: #ccc;
        background: #eee;
        color: #666 !important;
    }

.sidebar-uplevel {
    display: none;
}

.sidebar-section-button.active-uplevel .sidebar-uplevel {
    display: inline;
    float: right;
}

.area-outer {
    padding: 0 0 0 25px;
}

.area-title, .problem-body h1, .problem-body h2 {
    margin-left: -50px;
    margin-top: -10px;
    padding: 15px 30px 15px 30px;
    background-color: rgba(0,0,0,0.82);
    color: #c6e9fa;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
}

.area-item {
    padding: 25px;
    background: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    margin-bottom: 35px;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: 100%;
    height: 465px;
}

.contest-footer {
    margin: 25px -25px -25px -25px;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
}

.contest-footer-icon {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    display: inline-block;
}

.thread-outer {
    border-top: 1px solid #ddd;
    border-left: 5px solid #fff;
    padding: 30px 20px;
    height: 120px;
}

    .thread-outer.highlight {
        border-left: 5px solid #df6589 !important;
    }

.thread-avatar {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 20px;
}

    .thread-avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

.thread-body {
    height: 60px;
    float: left;
    max-width: calc(100% - 80px);
}

    .thread-body > a {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 14px;
        display: block;
        font-weight: lighter;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.thread-body-subline {
    height: 24px;
    line-height: 24px;
    color: #aaa!important;
}

    .thread-body-subline a, .thread-body-subline span, .thread-body-subline div, .thread-body-subline i {
        color: #aaa !important;
    }

.thread-body-forum {
    height: 26px;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #666;
}

.thread-body-plain {
    margin: 0 5px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    display: inline-block;
    color: #666;
}

.thread-revert-padding {
    margin: 0 -25px -25px -25px;
}

.sidebar-button {
    font-size: 14px;
    line-height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #888;
    display: block;
    text-align: center;
}

    .sidebar-button:hover {
        background-color: #5590ae;
        border: 1px solid #5590ae;
        color: #fff;
    }

.sidebar-section {
    margin-bottom: 35px;
}

.table-list {
    width: 100%;
    background: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    border-collapse: collapse;
    color: #666;
    margin-bottom: 35px;
}

    .table-list th, .table-list td {
        padding: 13px 15px;
        font-weight: normal;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    .table-list th {
        color: #888
    }

    .table-list td {
        padding: 5px 15px;
        font-size: 12px;
    }

.problem-list .problem-list-title, .problem-list .problem-list-status {
    text-align: left;
    border-right: 1px solid #ddd;
}

.problem-list th:last-child, .problem-list td:last-child {
    border-left: 1px solid #ddd;
}

.table-list tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.table-list tbody a {
    color: #555;
}

    .table-list tbody a:hover {
        color: #555;
        text-decoration: underline;
    }

.tag-list, .filter-list {
    margin: 0;
    padding: 0;
}

    .tag-list li, .filter-list li {
        width: 50%;
        margin-bottom: 5px;
        display: inline-block;
    }

.tag-outer:not(:first-child) {
    margin-top: -30px;
}

.tag-item, .filter-item {
    color: #666;
    padding: 5px 10px;
    transition: all 0.25s linear;
}

    .tag-item:hover, .filter-item:hover {
        color: #666;
        background-color: #eee;
    }

.tag-extend-outer {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
}

.tag-item.active, .filter-item.active {
    background-color: #ed5f82;
    color: #fff !important;
}

.tag-extend-outer.active {
    display: block;
}

.judge-list th:first-child, .judge-list td:first-child {
    text-align: left;
    border-right: 1px solid #ddd;
}

.judge-list td:first-child {
    border-left: 3px solid #ccc;
}

.judge-green {
    border-left: 3px solid #2ac649 !important;
    color: #2ac649 !important;
}

    .judge-green a {
        color: #2ac649 !important;
    }

.hack-green {
    border-right: 3px solid #2ac649 !important;
    color: #2ac649 !important;
}

    .hack-green a {
        color: #2ac649 !important;
    }

.judge-red {
    border-left: 3px solid #fb6666 !important;
    color: #fb6666 !important;
}

    .judge-red a {
        color: #fb6666 !important;
    }

.hack-red {
    border-right: 3px solid #fb6666 !important;
    color: #fb6666 !important;
}

    .hack-red a {
        color: #fb6666 !important;
    }

.judge-orange {
    border-left: 3px solid #f39800 !important;
    color: #f39800 !important;
}

    .judge-orange a {
        color: #f39800 !important;
    }

.hack-orange {
    border-right: 3px solid #f39800 !important;
    color: #f39800 !important;
}

    .hack-orange a {
        color: #f39800 !important;
    }

.judge-purple {
    border-left: 3px solid #be3fe2 !important;
    color: #be3fe2 !important;
}

.judge-purple a {
    color: #be3fe2 !important;
}

.master, .root, .master a, .root a {
    color: #be3fe2 !important;
}

.vip, .vip a {
    color: #fb6666 !important;
}

.judge-purple a {
    color: #be3fe2 !important;
}

.judge-blue {
    border-left: 3px solid #0074d9 !important;
    color: #0074d9 !important;
}

    .judge-blue a {
        color: #0074d9 !important;
    }

.hack-blue {
    border-right: 3px solid #0074d9 !important;
    color: #0074d9 !important;
}

    .hack-blue a {
        color: #0074d9 !important;
    }

.judge-list td i, .filter-item i, .problem-list i, .hack-list i {
    width: 16px !important;
    height: 12px !important;
    font-size: 12px !important;
    display: inline-block !important;
    text-align: center;
    margin-right: 6px;
}

.judge-list td:nth-child(2), .judge-list th:nth-child(2) {
    text-align: left;
}

.judge-list td:nth-child(3), .judge-list th:nth-child(3) {
    text-align: right;
}

.judge-list td:nth-child(4), .judge-list th:nth-child(4) {
    border-left: 1px solid #ddd;
}

.judge-list td:nth-child(6), .judge-list th:nth-child(6) {
    border-right: 1px solid #ddd;
}

.sidebar-section-body p:last-child {
    margin-bottom: 0;
}

.filter-outer {
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    position: absolute;
    text-align: left;
    transform: scale(0.4);
    transition: all 0.2s ease-in-out;
    margin-top: 13px;
    z-index: 10;
}

    .filter-outer.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }



.status-filter {
    width: 520px;
}

    .status-filter li a {
        border-left: none !important;
    }

@media (min-width:768px) {
    .status-filter li, .language-filter li {
        width: 33.3%;
    }
}

@media (max-width:767px) {
    .filter-outer {
        width: calc(100% - 30px) !important;
        left: 0 !important;
        margin-left: 15px;
    }
}

.problem-filter-list, .submit-filter-list {
    margin: 0 -15px -15px -15px;
}

.problem-filter-list-item, .submit-filter-list-item {
    padding: 15px;
    cursor: pointer;
    border-top: 1px solid #ddd;
    transition: all 0.2s linear;
    width: 100%;
}

.problem-filter-list-item-title {
    font-size: 16px;
    line-height: 16px;
    color: #666;
    margin-bottom: 5px;
}

.problem-filter-list-item-id {
    font-size: 12px;
    line-height: 12px;
    color: #999
}

.problem-filter-list-item:hover, .submit-filter-list-item:hover {
    background-color: #5590ae;
}

    .problem-filter-list-item:hover div, .submit-filter-list-item:hover div {
        color: #fff !important;
    }

.submit-filter-list-item-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.submit-filter-list-item-username {
    line-height: 32px;
    font-size: 16px;
    float: left;
}

.language-filter {
    width: 270px;
}

.form-control {
    border-radius: 0;
}

.filter-outer {
    border: 1px solid rgba(175,190,201, .5);
}

.tfoot-paging {
    text-align: center !important;
    border-top: 3px solid #ddd !important;
    border-left: none !important;
    border-right: none !important;
    padding: 0 0 10px 0 !important;
}

.tfoot-paging-outer {
    margin-top: -3px;
}

.tfoot-paging-item {
    border-top: 3px solid #ddd;
    color: #888;
    line-height: 35px;
    transition: all 0.2s linear;
    display: inline-block;
    font-size: 12px;
    min-width: 30px;
    cursor: pointer;
    text-align: center !important;
    margin: 0 1px;
}

    .tfoot-paging-item:hover {
        border-top: 3px solid #5590ae;
        color: #5590ae;
    }

    .tfoot-paging-item.current {
        border-top: 3px solid #ed5f82;
        color: #ed5f82;
    }

.problem-tag {
    color: #666;
    padding: 5px 10px;
    line-height: 12px;
    font-size: 12px;
    transition: all 0.25s linear;
    float: right;
    background-color: #eaeaea;
    margin-left: 2px;
    cursor: pointer;
}

    .problem-tag:hover {
        color: #fff;
        background-color: #5590ae;
    }

.problem-body .area-title, .problem-body h1, .problem-body h2 {
    margin-bottom: 20px;
}

.sample-data-table, .limitation-table {
    width: 100%;
    border-collapse: collapse;
}

    .sample-data-table td, .sample-data-table th, .sample-data-table pre, .limitation-table td {
        padding: 10px;
        color: #666;
        border: 1px solid #ddd;
    }

.sample-data-outer:not(:first-child) {
    margin-top: 35px;
}

.sidebar-hr {
    border: none;
    border-top: 1px solid #ddd;
}

.sidebar-section-button:hover, .tag-item {
    text-decoration: none !important;
}

.sidebar-section-button i {
    width: 16px;
    height: 14px;
    text-align: center;
    display: inline-block;
    margin-left: -4px;
    margin-right: 8px;
}

.evaluate-table {
    width: 100%;
    font-size: 38px;
    line-height: 38px;
    color: #999 !important;
    margin-top: 15px;
}

    .evaluate-table i {
        font-size: 44px !important;
        color: #999 !important;
    }

    .evaluate-table td:nth-child(1) {
        text-align: right;
    }

    .evaluate-table td:nth-child(2) {
        text-align: center;
    }

    .evaluate-table td:nth-child(3) {
        text-align: left;
    }

.evaluate-down:hover {
    color: #fb6666 !important;
}

.evaluate-down.active {
    color: #fb6666 !important;
}

.evaluate-up:hover {
    color: #2ac649 !important;
}

.evaluate-up.active {
    color: #2ac649 !important;
}

.sidebar-section.all-buttons {
    padding-top: 7px;
    padding-bottom: 7px;
}

.banner-outer {
    margin-left: 25px !important;
    margin-right: 25px !important;
    width: calc(100% - 25px);
}

@media(max-width: 990px) {
    .title-align {
        margin-left: 25px;
    }

    .banner-outer {
        margin-right: 0 !important;
    }
}

.code-editor-outer {
    visibility: hidden;
    opacity: 0;
    background: #fff;
    transform: scale(0.4);
    transition: all 0.2s linear;
}

    .code-editor-outer.edit-mode {
        visibility: visible;
        position: fixed;
        width: 50%;
        height: calc(100% - 50px);
        top: 50px;
        left: 50%;
        border-top: 1px solid #ddd;
        z-index: 9999;
        opacity: 1;
        transform: scale(1);
        min-width: 495px;
    }

.problem-body.edit-mode {
    position: fixed;
    width: 50%;
    height: calc(100% - 50px);
    border-top: 1px solid #ddd;
    top: 50px;
    left: 0;
    overflow-y: auto;
    z-index: 9999;
}

    .problem-body.edit-mode .area-item {
        box-shadow: none;
    }

.problem-body-set-off {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    z-index: 9998;
    background-color: #fff;
}

body.full-screen {
    height: 0px;
    overflow: hidden;
}

.container.full-screen {
    width: 100%;
}

.back-to-view-mode {
    padding: 5px 15px;
    color: #999;
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -174px;
    width: 144px;
    display: block;
    z-index: 10000;
}

    .back-to-view-mode:hover {
        background-color: #fff4db;
    }

.split-line {
    z-index: 10000;
    width: 6px;
    height: calc(100% - 50px);
    position: fixed;
    background: none;
    cursor: col-resize;
    top: 50px;
    left: calc(50% - 3px);
}

.code-editor-outer.edit-mode {
    height: 100%;
}

    .code-editor-outer.edit-mode pre {
        height: calc(100% - 94px);
    }

.code-editor-header {
    background-color: #333;
    height: 44px;
    border-bottom: 1px solid #555;
}

.code-editor-button {
    margin: 8px 4px;
    padding: 0 8px;
    height: 28px;
    color: #aaa !important;
    display: inline-block;
    font-size: 14px;
}

    .code-editor-button:hover {
        background-color: #555;
        text-decoration: none!important;
    }

    .code-editor-button.active {
        background-color: #ed5f82;
        color: #fff !important;
    }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#code-editor {
    display: none;
}

    #code-editor.active {
        display: block;
    }

.data-editor, .judge-panel {
    display: none;
    background: #333;
    padding: 20px;
    color #aaa;
}

    .data-editor a {
        color #aaa !important;
    }

    .data-editor.active, .judge-panel.active {
        height: calc(100% - 88px);
        overflow-y: auto;
        display: block;
    }

.data-title {
    color: #ccc;
    background-color: #555;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 12px;
}

.data-remove-button {
    color: #e86060;
    float: right;
    transition: color 0.2s linear;
}

    .data-remove-button:hover {
        color: #f77b7b;
    }

.data-text-area {
    background: #333;
    color: #bbb;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 180px !important;
    border: 1px solid #444;
    transition: background, border 0.2s linear;
}

    .data-text-area:hover {
        border: 1px solid #888;
    }

    .data-text-area:focus {
        background: #555;
        border: 1px solid #aaa;
    }

.data-add-data-button {
    color: #74adc9;
}

    .data-add-data-button:hover {
        color: #94c5dc;
    }

.data-text-area-table {
    width: 100%;
}

    .data-text-area-table td:first-child {
        padding-right: 5px;
    }

    .data-text-area-table td:last-child {
        padding-left: 5px;
    }

select.code-editor-button {
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0;
}

.judge-panel-table {
    width: 100%;
    color: #ccc;
}

    .judge-panel-table tr {
        border-bottom: 1px solid #666;
    }

        .judge-panel-table tr:nth-child(4n) {
            background: #444;
        }

        .judge-panel-table tr:nth-child(4n+1) {
            background: #444;
        }

        .judge-panel-table tr:nth-child(2n+1) {
            display: none;
        }

.judge-panel-table-outer {
    margin: 0 -20px -20px -20px;
    border-top: 1px solid #666;
}

.judge-panel-table td {
    font-size: 12px;
    padding: 5px 7px;
}

.judge-panel-status {
    font-size: 22px;
    margin-bottom: 20px;
}

.judge-panel-table tr:nth-child(2n) td:nth-child(2) {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    cursor: pointer;
    transition: color 0.2s linear;
}

    .judge-panel-table tr:nth-child(2n) td:nth-child(2):hover {
        text-decoration: underline;
    }

.judge-panel-border-blue {
    border-left: 3px solid #7baefa;
}

.judge-panel-border-red {
    border-left: 3px solid #fb6666;
}

.judge-panel-border-orange {
    border-left: 3px solid #f39800;
}

.judge-panel-border-green {
    border-left: 3px solid #16b368;
}

.judge-panel-color-blue, .contest-ready {
    color: #7baefa;
}

.judge-panel-color-red, .contest-live {
    color: #fb6666;
}

.judge-panel-color-orange {
    color: #f39800;
}

.judge-panel-color-green {
    color: #16b368;
}

.judge-panel-color-purple {
    color: #cf64ed;
}

.code-editor-outer.submit-mode {
    visibility: visible;
    width: 800px;
    max-width: 94%;
    height: 609px;
    max-height: calc(100% - 220px);
    overflow-y: auto;
    position: fixed;
    background-color: #333;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    top: 220px;
    left: 50%;
    margin-left: -400px;
    z-index: 9999;
    opacity: 1;
    transform: scale(1);
}

    .code-editor-outer.submit-mode pre {
        height: 555px;
    }

.judge-panel-summary-hint {
    font-size: 12px;
    line-height: 16px;
    color: #aaa;
    margin-bottom: 15px;
}

.judge-panel-table-outer-light {
    margin: 0 -25px -25px -25px;
    border-top: 1px solid #ddd;
}

    .judge-panel-table-outer-light .judge-panel-table tr:nth-child(4n) {
        background: #f4f4f4;
    }

    .judge-panel-table-outer-light .judge-panel-table tr:nth-child(4n+1) {
        background: #f4f4f4;
    }

    .judge-panel-table-outer-light tr:nth-child(2n) td:nth-child(2) {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        cursor: pointer;
        transition: color 0.2s linear;
    }

    .judge-panel-table-outer-light .judge-panel-table tr {
        border-bottom: 1px solid #ddd;
    }

    .judge-panel-table-outer-light .judge-panel-table {
        color: #666;
    }

.judge-panel-info {
    font-size: 12px;
    color: #888;
    margin-bottom: 25px;
}

.judge-panel-table-outer-light .judge-panel-table tr:nth-child(2n) td:nth-child(2):hover {
    color: #888 !important;
    text-decoration: underline;
}

.area-item.dark {
    background: #333;
}

.code-box-outer {
    margin: 0 -25px -25px -25px;
}

.sidebar-avatar-set-off {
    height: 60px;
    background-size: cover;
    background-position: 50%;
}

.sidebar-padding-outer {
    margin-top: -20px;
    padding: 0 20px 20px 20px;
}

.sidebar-username {
    display: inline-block;
    height: 80px;
    width: calc(100% - 90px);
    padding: 40px 15px 20px 15px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
}

dt {
    display: inline-block;
    width: 60px;
    text-overflow: ellipsis;
    font-size: 12px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

dd {
    display: inline-block;
    width: calc(100% - 81px);
    margin-left: 15px;
    text-overflow: ellipsis;
    font-size: 12px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1219px) and (min-width: 992px) {
    dd {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    dt {
        display: block;
        width: 100%;
    }
}

.login-box-bg {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 15000;
    transition: all 0.2s linear;
}

    .login-box-bg.active {
        visibility: visible;
        opacity: 1;
    }

.login-box-outer {
    width: 670px;
    height: 450px;
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -335px;
    margin-top: -225px;
    transform: scale(0.4);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

    .login-box-outer.active {
        transform: scale(1);
        opacity: 1;
    }

.login-box-main {
    width: 320px;
    height: 450px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.6);
    padding: 50px;
    margin-top: -400px;
    margin-left: 25px;
    color: #555;
}

.login-box-set {
    width: 670px;
    height: 350px;
    background: rgba(0,0,0,.8);
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    margin-top: 50px;
    margin-left: -25px;
    padding: 50px 50px 50px 410px;
    color: #fff;
}

    .login-box-set h1 {
        color: #fff;
        line-height: 35px;
        font-size: 30px;
        font-weight: normal;
    }

    .login-box-set p {
        line-height: 22px;
        font-size: 16px;
        color: #e0e0e0;
    }

.login-box-main h1 {
    line-height: 35px;
    font-size: 30px;
    color: #5590ae;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

.login-box-note {
    margin-top: 4.2px;
    margin-bottom: 28px;
    text-align: center;
    font-size: 14px;
}

.login-column {
    font-size: 14px;
    color: #555;
    font-weight: normal;
    display: block;
    transition: all 0.2s linear;
    cursor: pointer;
}

.login-focus-label {
    color: #5590ae;
}

.login-textbox {
    display: block;
    width: 100%;
    font-size: 14px;
    margin: 0 0 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border: 0;
    background: none;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
    color: #555;
    border-bottom: 2px solid rgba(85,85,85,.4);
    transition: all 0.2s linear;
}

    .login-textbox:focus {
        border-color: #5590ae;
    }

.login-column input[type="checkbox"], .checkbox {
    box-sizing: border-box;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d0d0d0;
    display: inline-block;
    border-radius: 1px;
    vertical-align: top;
    width: 16px;
    height: 16px;
    position: relative;
    outline: 0;
    transition: background .1s linear;
    background: none;
    cursor: pointer;
    margin: 0;
    float: left;
}

    .login-column input[type="checkbox"]:checked, .checkbox:checked {
        background: #5590ae;
        border-color: #5590ae;
    }

    .login-column input[type="checkbox"]:after, .checkbox:after {
        content: "";
        width: 18px;
        height: 11px;
        position: absolute;
        top: 0.8px;
        left: -1.8px;
        border: 4px solid #fff;
        border-top: none;
        border-right: none;
        background: transparent;
        -webkit-transform: rotate(-45deg) scale(.5);
        transform: rotate(-45deg) scale(.5);
        box-sizing: inherit;
    }

.login-column span {
    margin-top: -6px;
    margin-left: 5px;
    float: left;
}

.login-btn {
    border-radius: 35px;
    height: 35px;
    background-color: #5590ae;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    display: block;
    color: #fff;
    margin-top: 15px;
    transition: all 0.2s linear;
}

    .login-btn:hover {
        color: #fff;
        background-color: #5faaea;
        border-color: #35a2ff;
        box-shadow: 0 4px 15px rgba(53,162,255,.3);
    }

.login-register {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    border-radius: 35px;
    padding: 0 25px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.2s linear;
}

    .login-register:hover {
        border-color: #ffef87;
        color: #ffef87;
    }

.clear {
    clear: both;
}

.problem-list a {
    color: #666;
}

    .problem-list a:hover {
        color: #666;
        text-decoration: underline;
    }

.problem-render {
    margin-top: 25px;
    padding-bottom: 10px;
    word-break: break-word;
}

    .problem-render h1, .problem-render h2, problem-render .area-title {
        margin-top: 0;
    }

.tag-list.wide > li {
    width: 25%;
}

.problem-edit-buttons-outer {
    padding: 0 5px;
    border-top: 1px solid #777;
}

.problem-edit-compile-error-message {
    background-color: #481111;
    color: #fb5555;
    padding: 8px 15px;
    margin-bottom: 15px;
}

    .problem-edit-compile-error-message p {
        font-size: 12px;
        font-family: 'Courier New';
    }

        .problem-edit-compile-error-message p:last-child {
            margin-bottom: 0;
        }

.problem-edit-compile-error-message-title {
    font-size: 16px;
    color: #fb5555;
}

.upload-button {
    font-size: 128px !important;
    color: #ccc;
    text-shadow: 5px 5px 0px #eee;
}

.upload-button-outer {
    text-align: center;
}

    .upload-button-outer * {
        cursor: pointer;
        color: #ccc;
        transition: color 0.2s linear;
    }

    .upload-button-outer span {
        font-size: 30px;
    }

    .upload-button-outer:hover * {
        color: #ed5f82 !important;
    }

.upload-button-hidden {
    display: none;
    visibility: hidden;
}

.test-case-type-outer {
    text-align: center;
    margin-top: 15px;
}

    .test-case-type-outer .tag-item {
        cursor: pointer;
        display: inline-block;
        margin: inherit 5px !important;
    }

.area-item .table {
    box-shadow: none;
    border-right: 1px solid #ddd;
}

.tag-item.primary {
    background-color: #5590ae;
    color: #fff;
}

    .tag-item.primary:hover {
        background-color: #346984;
    }

.test-case-type-outer.text-left {
    text-align: left;
}

.judge-panel-hint {
    padding: 0 10px;
}

    .judge-panel-hint p, .judge-panel-info p {
        margin-bottom: 0 !important;
    }

.judge-panel-hint-bottom-no {
    margin-bottom: 0;
}

.accepted-problem-item {
    padding: 5px 8px;
    background-color: #eee;
    display: inline-block;
    margin-right: 5px;
    transition: background-color 0.2s linear;
    cursor: pointer;
    margin-bottom: 4px;
}

    .accepted-problem-item a {
        color: #555;
        transition: background-color 0.2s linear;
        text-decoration: none;
    }

    .accepted-problem-item:hover {
        background-color: #ed5f82;
    }

        .accepted-problem-item:hover a {
            color: #fff;
        }

.profile-avatar-outer img {
    max-width: initial;
}

.judge-panel-table .judge-panel-hint pre {
    background: #555;
    color: #ccc;
    padding: 5px 10px;
}

.api-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.notification {
    position: fixed;
    right: 0;
    top: 50px;
    width: 380px;
    background: rgb(57,57,57);
    border-left: 5px solid #ccc;
    z-index: 999999;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    margin-right: -380px;
    opacity: 0;
    padding: 10px 15px;
    transition: margin 0.2s linear, opacity 0.2s linear;
}

    .notification.active {
        margin-right: 0;
        opacity: 1;
    }

    .notification.succeeded {
        color: #16b368;
        border-left: 5px solid #16b368;
    }

    .notification.warning {
        color: #f39800;
        border-left: 5px solid #f39800;
    }

    .notification.error {
        color: #fb6666;
        border-left: 5px solid #fb6666;
    }

    .notification.pending {
        color: #8fd6f8;
        border-left: 5px solid #8fd6f8;
    }

.notification-detail {
    font-size: 12px;
    color: #ccc;
}

.table-inline {
    margin: 0 -25px;
    width: calc(100% + 50px);
    font-size: 12px;
    line-height: 24px;
}

    .table-inline thead {
        color: #888;
    }

    .table-inline td, .table-inline th {
        padding: 5px 12px;
        font-weight: normal;
    }

    .table-inline tr {
        border-bottom: 1px solid #ddd;
    }

    .table-inline tbody tr:nth-child(odd) {
        background: #f4f4f4;
    }

.contest-countdown {
    font-size: 18px;
    color: #ed5f82;
}

.thread-body-subline {
    margin-top: 10px;
}

    .thread-body-subline a {
        display: inline-block;
    }

.sample-data-table {
    table-layout: fixed;
}

    .sample-data-table td {
        vertical-align: top;
    }


.judge-panel-table-outer-light pre {
    background: none !important;
    color: #888 !important;
    border: 1px solid #ddd;
}

.table-list th>a {
    color: #5590ae;
}

.table-list th li > a:hover, .sidebar-button {
    text-decoration: none !important;
}

.thread-body-forum:hover {
    border-color: #699fd4;
    background-color: #699fd4;
    color: #fff !important;
}

    .thread-body-forum:hover i {
        color: #fff !important;
    }

.area-item .panel {
    border: none;
    box-shaodw: none;
    -webkit-box-shadow: none;
}

@media (max-width: 980px) and (min-width: 683px) {
    .banner {
        height: 320px;
    }
}

@media (max-width: 682px) and (min-width: 523px) {
    .banner {
        height: 240px;
    }
}

@media (max-width: 522px) {
    .banner {
        height: 160px;
    }
}

.problem-id {
    color: #96a9b5;
    font-size: 12px;
}

.alpha-03 {
    opacity: 0.3;
}

.chat-iframe {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    outline: 0;
    border: none;
    margin-right: -350px;
    transition: margin 0.2s linear;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 99999;
}

.chat-iframe.active {
    margin-right: 0;
}

#back-to-top.msg-alert i {
    background: rgb(255,128,128);
}

.profile-table-inline {
    margin: 0 -20px; 
    width: calc(100% + 40px);
    font-size: 12px;
    line-height: 24px;
}

.paging-non-table {
    border-top: 3px solid #ddd;
    margin: 25px -25px -25px -25px;
    text-align: center;
}

.color-danger {
    color: #fb6666;
}

.color-primary {
    color: #0074d9;
}

.thin-textbox {
    height: 24px;
    font-size: 10px;
    padding: 0 5px;
}

.standings-list tr td:nth-child(1), .standings-list tr td:nth-child(2), .standings-list tr td:nth-child(3), .standings-list tr th:nth-child(1), .standings-list tr th:nth-child(2) {
    text-align: left;
}

.standings-list .point-column, .standings-list .problem-column, .standings-list .user-column {
    border-left: 1px solid #ddd !important;
}

.standings-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.standings-list tr td:nth-child(2) {
    padding-right: 0;
}

.standings-list td {
    line-height: 16px;
}

.contest-icon {
    width: 180px;
    filter: grayscale(100%);
    transition: all 0.2s linear;
    cursor: pointer;
    opacity: 0.5;
}

.contest-icon-outer {
    width: 50%;
    float: left;
    text-align: center;
    height: 120px;
    margin-bottom: 30px;
}

.contest-icon:hover, .contest-icon.active {
    filter: grayscale(0);
    opacity: 1;
}

.infobox {
    background-color: #eeeeee;
    width: 100%;
    vertical-align: middle;
}

.infobox-icon {
    background-color: #dddddd;
    text-align: center;
    width: 48px;
}

.infobox tr {
    line-height: 32px;
}

.infobox-icon i {
    padding: 8px;
    width: 48px;
    height: 48px;
    line-height: 32px;
    text-align: center;
    font-size: 32px !important;
    vertical-align: middle;
    display: table-cell!important;
}

.infobox-text {
    width: calc(100% - 48px);
    font-size: 12px;
    padding: 0 10px;
    word-break: break-all;
    line-height: 20px;
}

.hack-list td, .hack-list th {
    text-align: left;
}

    .hack-list td:nth-child(7), .hack-list th:nth-child(7), .hack-list td:nth-child(8), .hack-list th:nth-child(8) {
        text-align: right;
    }

    .hack-list td:nth-child(4), .hack-list th:nth-child(4), .hack-list td:nth-child(5), .hack-list th:nth-child(5), .hack-list td:nth-child(6), .hack-list th:nth-child(6) {
        text-align: center;
    }

    .hack-list td:nth-child(1), .hack-list th:nth-child(1), .hack-list td:nth-child(2), .hack-list th:nth-child(2), .hack-list td:nth-child(3), .hack-list th:nth-child(3), .hack-list td:nth-child(7), .hack-list th:nth-child(6), .hack-list td:nth-child(6), .hack-list th:nth-child(7) {
        border-right: 1px solid #ddd;
    }

.hack-detail-outer {
    margin: 0 -25px -25px -25px
}

.hack-detail {
    width: 100%;
    font-size: 12px;
    table-layout: auto;
}

    .hack-detail tr {
        border-top: 1px solid #ddd;
    }

    .hack-detail tr:nth-child(even) {
        background: #eee;
    }

    .hack-detail td {
        padding: 5px 10px;
    }