a {
    cursor: pointer;
}

.avatar-section {
    display: none;
}

.application-item-icon {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 15px;
}

.application-item-content {
    padding: 4px 0;
    float: left;
}

.application-item-title {
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.application-item-details {
    color: #999;
    font-size: 12px;
    margin:0;
    padding:0;
}

.application-item-btn {
    float: right;
    border-radius: 20px;
    padding: 2px 10px;
    border: 2px solid #ff8080;
    color: #ff8080;
    cursor: pointer;
    transition: all 0.2s linear;
    margin: 14px 5px;
}

    .application-item-btn:hover {
        background: #ff8080;
        color: #fff;
    }

    .application-item-btn.blue {
        border: 2px solid #7baefa;
        color: #7baefa;
    }

        .application-item-btn.blue:hover {
            background: #7baefa;
            color: #fff;
        }

    .application-item-btn.green {
        border: 2px solid #16b368;
        color: #16b368;
    }

        .application-item-btn.green:hover {
            background: #16b368;
            color: #fff;
        }
    
.clear {
    clear: both;
}

.application-no-result {
    padding: 20px 25px;
}

.application-paging-outer {
    margin-top: 30px;
}

.sidebar-section-button {
    font-weight: 200;
    font-size: 14px;
}.

.sidebar-section-button.nested {
    padding-left: 35px;
}

.sidebar-section-button.active-uplevel {
    border-color: #ccc;
    background: #eee;
    color: #666 !important;
}

.sidebar-uplevel {
    display: none;
}

.sidebar-section-button.active-uplevel .sidebar-uplevel {
    display:inline;
    float: right;
}

.area-outer {
    padding: 0 0 0 25px;
}

.area-title {
    margin-left: -50px;
    margin-top: -10px;
    padding: 15px 30px 15px 30px;
    background-color: rgba(0,0,0,0.82);
    color: #c6e9fa;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
}

.area-item {
    padding: 25px;
    background: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    margin-bottom: 35px;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: 100%;
    height: 470px;
}

.contest-footer {
    margin: 25px -25px -25px -25px;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
}

.contest-footer-icon {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    display: inline-block;
}

.thread-outer {
    border-top: 1px solid #ddd;
    border-left: 5px solid #fff;
    padding: 30px 20px;
    height: 120px;
}

    .thread-outer.highlight {
        border-left: 5px solid #df6589!important;
    }

.thread-avatar {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 20px;
}

    .thread-avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

.thread-body {
    height: 60px;
    float: left;
}

    .thread-body a {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 14px;
        display: block;
    }

    .thread-body-subline {
        height: 24px;
        line-height: 24px;
    }

.thread-body-forum {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #666;
}

.thread-body-plain {
    margin: 0 5px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    display: inline-block;
    color: #666;
}

.thread-revert-padding {
    margin: 0 -25px -25px -25px;
}

.sidebar-button {
    font-size: 14px;
    line-height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #888;
    display: block;
    text-align: center;
}

    .sidebar-button:hover {
        background-color: #5590ae;
        border: 1px solid #5590ae;
        color: #fff;
    }

.sidebar-section {
    margin-bottom: 35px;
}

.table-list {
    width: 100%;
    background: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    border-collapse: collapse;
    color: #666;
    margin-bottom: 35px;
}

    .table-list th, .table-list td {
        padding: 13px 15px;
        font-weight: normal;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    .table-list th {
        color: #888
    }

    .table-list td {
        padding: 5px 15px;
        font-size: 12px;
    }

    .problem-list th:first-child, .problem-list td:first-child {
        text-align: left;
        border-right: 1px solid #ddd;
    }

    .problem-list th:last-child, .problem-list td:last-child {
        border-left: 1px solid #ddd;
    }

    .table-list tbody tr:nth-child(odd) {
        background-color: #f4f4f4;
    }

    .tag-list, .filter-list {
        margin: 0;
        padding: 0;
    }

        .tag-list li, .filter-list li {
            width: 50%;
            margin-bottom: 5px;
            display: inline-block;
        }

.tag-outer:not(:first-child) {
    margin-top: -30px;
}

.tag-item, .filter-item {
    color: #666;
    padding: 5px 10px;
    transition: all 0.25s linear;
}

    .tag-item:hover, .filter-item:hover {
        color: #666;
        background-color: #eee;
    }
     
.tag-extend-outer {
    display: none;
    padding: 15px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
}

.tag-item.active, .filter-item.active {
    background-color: #ed5f82;
    color: #fff;
}

.tag-extend-outer.active {
    display: block;
}

.judge-list th:first-child, .judge-list td:first-child {
    text-align: left;
    border-right: 1px solid #ddd;
}

.judge-list td:first-child {
    border-left: 3px solid #ccc;
}

.judge-green {
    border-left: 3px solid #2ac649 !important;
    color: #2ac649;
}

.judge-red {
    border-left: 3px solid #fb6666!important;
    color: #fb6666;
}

.judge-orange {
    border-left: 3px solid #f39800 !important;
    color: #f39800;
}

.judge-purple {
    border-left: 3px solid #be3fe2 !important;
    color: #be3fe2;
}

.judge-blue {
    border-left: 3px solid #0074d9 !important;
    color: #0074d9;
}

.judge-list td i, .filter-item i {
    width: 16px!important;
    height: 12px!important;
    font-size: 12px!important;
    display: inline-block!important;
    text-align: center;
    margin-right: 6px;
}

.judge-list td:nth-child(2), .judge-list th:nth-child(2) {
    text-align: left;
}

.judge-list td:nth-child(3), .judge-list th:nth-child(3) {
    text-align: right;
}

.judge-list td:nth-child(4), .judge-list th:nth-child(4) {
    border-left: 1px solid #ddd;
}

.judge-list td:nth-child(6), .judge-list th:nth-child(6) {
    border-right: 1px solid #ddd;
}

.sidebar-section-body p:last-child {
    margin-bottom: 0;
}

.filter-outer {
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0.375rem 1.375rem rgba(175,190,201, .5);
    position: absolute;
    text-align: left;
    transform: scale(0.4);
    transition: all 0.2s ease-in-out;
    margin-top: 13px;
}

    .filter-outer.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }



.status-filter {
    width: 520px;
}

    .status-filter li a {
        border-left: none!important;
    }

@media (min-width:768px) {
    .status-filter li, .language-filter li {
        width: 33.3%;
    }
}

@media (max-width:767px) {
    .filter-outer {
        width: calc(100% - 30px)!important;
        left: 0!important;
        margin-left: 15px;
    }
}

.problem-filter-list, .submit-filter-list {
    margin: 0 -15px -15px -15px;
}

.problem-filter-list-item, .submit-filter-list-item {
    padding: 15px;
    cursor: pointer;
    border-top: 1px solid #ddd;
    transition: all 0.2s linear;
    width: 100%;
}

.problem-filter-list-item-title {
    font-size: 16px;
    line-height: 16px;
    color: #666;
    margin-bottom: 5px;
}

.problem-filter-list-item-id {
    font-size: 12px;
    line-height: 12px;
    color: #999
}

.problem-filter-list-item:hover, .submit-filter-list-item:hover {
    background-color: #5590ae;
}

    .problem-filter-list-item:hover div, .submit-filter-list-item:hover div {
        color: #fff !important;
    }

.submit-filter-list-item-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.submit-filter-list-item-username {
    line-height: 32px;
    font-size: 16px;
    float: left;
}

.language-filter {
    width: 270px;
}

.form-control {
    border-radius: 0;
}

.filter-outer {
    border: 1px solid rgba(175,190,201, .5);
}

.tfoot-paging {
    text-align: center !important;
    border-top: 3px solid #ddd !important;
    border-left: none !important;
    padding: 0 0 10px 0 !important;
}

.tfoot-paging-outer {
    margin-top: -3px;
}

.tfoot-paging-item {
    border-top: 3px solid #ddd;
    color: #888;
    line-height: 35px;
    transition: all 0.2s linear;
    display: inline-block;
    font-size: 12px;
    min-width: 30px;
    cursor: pointer;
    text-align: center !important;
    margin: 0 1px;
}

    .tfoot-paging-item:hover {
        border-top: 3px solid #5590ae;
        color: #5590ae;
    }

    .tfoot-paging-item.current {
        border-top: 3px solid #ed5f82;
        color: #ed5f82;
    }

.problem-tag {
    color: #666;
    padding: 5px 10px;
    line-height: 12px;
    font-size: 12px;
    transition: all 0.25s linear;
    float: right;
    background-color: #eaeaea;
    margin-left: 2px;
    cursor: pointer;
}

    .problem-tag:hover {
        color: #fff;
        background-color: #5590ae;
    }

.problem-body .area-title {
    margin-bottom: 20px;
}

.problem-body .area-title:not(:first-child) {
    margin-top: 35px;
}

.sample-data-table, .limitation-table {
    width: 100%;
    border-collapse: collapse;
}

    .sample-data-table td, .sample-data-table th, .sample-data-table pre, .limitation-table td {
        padding: 10px;
        color: #666;
        border: 1px solid #ddd;
    }

.sample-data-outer:not(:first-child) {
    margin-top: 35px;
}

.sidebar-hr {
    border: none;
    border-top: 1px solid #ddd;
}

.sidebar-section-button i {
    width: 16px;
    height: 14px;
    text-align: center;
    display: inline-block;
    margin-left: -4px;
    margin-right: 8px;
}

.evaluate-table {
    width: 100%;
    font-size: 38px;
    line-height: 38px;
    color: #999!important;
    margin-top: 15px;
}

    .evaluate-table i {
        font-size: 44px !important;
        color: #999 !important;
    }

    .evaluate-table td:nth-child(1) {
        text-align: right;
    }

    .evaluate-table td:nth-child(2) {
        text-align: center;
    }

    .evaluate-table td:nth-child(3) {
        text-align: left;
    }

.evaluate-down:hover {
    color: #fb6666 !important;
}

.evaluate-down.active {
    color: #fb6666 !important;
}

.evaluate-up:hover {
    color: #2ac649 !important;
}

.evaluate-up.active {
    color: #2ac649 !important;
}

.sidebar-section.all-buttons {
    padding-top: 7px;
    padding-bottom: 7px;
}

.banner-outer {
    margin-left: 25px!important;
    margin-right: 25px!important;
    width: calc(100% - 25px);
}

@media(max-width: 990px) {
    .title-align {
        margin-left: 25px;
    }

    .banner-outer {
        margin-right: 0 !important;
    }
}

.code-editor-outer {
    visibility: hidden;
    opacity: 0;
    background: #fff;
    transform: scale(0.4);
    transition: all 0.2s linear;
}

    .code-editor-outer.edit-mode {
        visibility: visible;
        position: fixed;
        width: 50%;
        height: calc(100% - 50px);
        top: 50px;
        left: 50%;
        border-top: 1px solid #ddd;
        z-index: 9999;
        opacity: 1;
        transform: scale(1);
    }

.problem-body.edit-mode {
    position: fixed;
    width: 50%;
    height: calc(100% - 50px);
    border-top: 1px solid #ddd;
    top: 50px;
    left: 0;
    overflow-y: auto;
    z-index: 9999;
}

    .problem-body.edit-mode .area-item {
        box-shadow: none;
    }

.problem-body-set-off {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    z-index: 9998;
    background-color: #fff;
}

body.full-screen {
    height: 0px;
    overflow: hidden;
}

.container.full-screen {
    width: 100%;
}

.back-to-view-mode {
    padding: 5px 15px;
    color: #999;
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -174px;
    width: 144px;
    display: block;
    z-index: 10000;
}

    .back-to-view-mode:hover {
        background-color: #fff4db;
    }

.split-line {
    z-index: 10000;
    width: 6px;
    height: calc(100% - 50px);
    position: fixed;
    background: none;
    cursor: col-resize;
    top: 50px;
    left: calc(50% - 3px);
}

.code-editor-outer.edit-mode {
    height: 100%;
}

.code-editor-outer.edit-mode pre {
    height: calc(100% - 94px);
}

.code-editor-header {
    background-color: #333;
    height: 44px;
    border-bottom: 1px solid #555;
}

.code-editor-button {
    margin: 8px 4px;
    padding: 0 8px;
    height: 28px;
    color: #aaa !important;
    display: inline-block;
    font-size: 14px;
}

    .code-editor-button:hover {
        background-color: #555;
    }

    .code-editor-button.active {
        background-color: #ed5f82;
        color: #fff !important;
    }

.float-right {
    float: right;
}

#code-editor {
    display: none;
}

#code-editor.active {
    display: block;
}

.data-editor, .judge-panel {
    display: none;
    background: #333;
    padding: 20px;
    color #aaa;
}

    .data-editor a {
        color #aaa!important;
    }

    .data-editor.active, .judge-panel.active {
        height: calc(100% - 94px);
        overflow-y: auto;
        display: block;
    }

.data-title {
    color: #ccc;
    background-color: #555;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 12px;
}

.data-remove-button {
    color: #e86060;
    float: right;
    transition: color 0.2s linear;
}

    .data-remove-button:hover {
        color: #f77b7b;
    }

.data-text-area {
    background: #333;
    color: #bbb;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 180px !important;
    border: 1px solid #444;
    transition: background, border 0.2s linear;
}

    .data-text-area:hover {
        border: 1px solid #888;
    }

    .data-text-area:focus {
        background: #555;
        border: 1px solid #aaa;
    }

.data-add-data-button {
    color: #74adc9;
}

    .data-add-data-button:hover {
        color: #94c5dc;
    }

.data-text-area-table {
    width: 100%;
}

    .data-text-area-table td:first-child {
        padding-right: 5px;
    }

    .data-text-area-table td:last-child {
        padding-left: 5px;
    }

select.code-editor-button {
    background-color: #333;
    border: 1px solid #666;
    border-radius: none;
}

.judge-panel-table {
    width: 100%;
    color: #ccc;
}

    .judge-panel-table tr {
        border-bottom: 1px solid #666;
    }

.judge-panel-table tr:nth-child(4n) {
    background: #444;
}
    .judge-panel-table tr:nth-child(4n+1) {
        background: #444;
    }

    .judge-panel-table tr:nth-child(2n+1) {
        display: none;
    }

.judge-panel-table-outer {
    margin: 0 -20px -20px -20px;
    border-top: 1px solid #666;
}

.judge-panel-table td {
    font-size: 12px;
    padding: 5px 7px;
}

.judge-panel-status {
    font-size: 22px;
    margin-bottom: 20px;
}

.judge-panel-table tr:nth-child(2n) td:nth-child(2) {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    cursor: pointer;
    transition: color 0.2s linear;
}

    .judge-panel-table tr:nth-child(2n) td:nth-child(2):hover {
        color: #c6e9fa!important;
    }

.judge-panel-border-blue {
    border-left: 3px solid #7baefa;
}

.judge-panel-border-red {
    border-left: 3px solid #fb6666;
}

.judge-panel-border-orange {
    border-left: 3px solid #f39800;
}

.judge-panel-border-green {
    border-left: 3px solid #16b368;
}

.judge-panel-color-blue {
    color: #7baefa;
}

.judge-panel-color-red {
    color: #fb6666;
}

.judge-panel-color-orange {
    color: #f39800;
}

.judge-panel-color-green {
    color: #16b368;
}

.code-editor-outer.submit-mode {
    visibility: visible;
    width: 800px;
    max-width: 94%;
    height: 609px;
    max-height: calc(100% - 220px);
    overflow-y: auto;
    position: fixed;
    background-color: #333;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    top: 220px;
    left: 50%;
    margin-left: -400px;
    z-index: 9999;
    opacity: 1;
    transform: scale(1);
}

    .code-editor-outer.submit-mode pre {
        height: 555px;
    }