body {
	background-image: url(../images/bg-sign-in.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

.logo {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.logo img {
    height: 140px;
}

.content {
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
}

.trapezoid {
	height: 0;
    margin-top: 5px;
    margin-left: 15px;
	border-top: 40px solid rgb(129, 142, 151);
	border-left: 6px solid transparent;
	border-right: 8px solid transparent;
    display: inline-block;
}

.trapezoid-main {
	height: 0;
    position: relative;
    top: -50px;
    left: -15px;
    width: inherit;
	border-top: 40px solid #5f9fd6;
	border-left: 6px solid transparent;
	border-right: 8px solid transparent;
    display: inline-block;
}

.trapezoid-inner {
    position: relative;
    top: -40px;
    line-height: 30px;
    padding: 5px 15px;
    color: #fff;
    font-weight: bold;
}

.detail-outer {
    margin: 25px;
}

.textbox {
    background: none;
    padding: 8px 0;
    outline: 0;
    border: none;
    width: 100%;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: border 0.2s linear;
}

.textbox:focus {
    border-bottom: 2px solid #363b8d;
}

.textbox-label {
    font-size: 14px;
    color: #fff;
    padding-bottom: 5px;
    transition: color 0.2s linear;
}

    .textbox-label.active {
        color: #363b8d;
    }

.button {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 5px 20px;
    outline: 0;
    background: none;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 24px;
    cursor: pointer;
    transition: border 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}

.button:hover {
    color: #363b8d;
    border: 2px solid #363b8d;
}

.button-outer {
    margin-top: 25px;
    text-align: center;
}

.copyright {
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
}