<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>不支持您的浏览器 - JoyOI Online Judge</title>
    <link href="/styles/joyoi.base.min.css" rel="stylesheet" />
    <link href="/styles/joyoi.extend.css" rel="stylesheet" />
</head>
<body class="home-template fixed-navbar">
    <div id="app">
        <!-- start header -->
        <header class="main-header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-list mobile-menu"></i>
                        </button>
                        <!-- start logo -->
                        <a href="javascript:;" class="navbar-logo"><img src="/images/logo-bk.png" /></a>
                        <!-- end logo -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
        <!-- end header -->

        <div id="cover" class="cover cover-single mobile-cover cover-without-url">
            <div class="cont-wrap">
                <div class="col-md-12 mobile-cover-center" style="text-align:left">
                    <img src="/images/logo.png" class="mobile-cover-img" style="height:140px;margin-top:-60px;" />
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-offset-2 col-offset col-md-8">
                    <div class="area-outer">
                        <div class="area-item">
                            <div class="area-title">Joy OI 不支持您的浏览器</div>
                            <div>
                                <p>Joy OI不支持您当前使用的浏览器，为了保障您的用户体验，请您使用Chrome、Edge、FireFox等现代浏览器后再尝试访问本站！</p>
                                <a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank" class="btn btn-default">去下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>