<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>首页 - JoyOI Online Judge</title>
    <link href="/styles/joyoi.base.min.css" rel="stylesheet" />
    <link href="/styles/joyoi.extend.css" rel="stylesheet" />
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/vue-router.js"></script>
    <script src="/scripts/vue-lazy-routing.js"></script>
    <script src="/scripts/joyoi.routing.js"></script>
    <script src="/scripts/joyoi.base.min.js"></script>
    <script src="/scripts/ace/ace.js"></script>
    <script src="/scripts/ace/theme-twilight.js"></script>
    <script src="/scripts/ace/ext-language_tools.js"></script>
    <script src="/scripts/ace/mode-c_cpp.js"></script>
    <script src="/scripts/ace/mode-pascal.js"></script>
    <script src="/scripts/ace/mode-python.js"></script>
    <script src="/scripts/ace/mode-ruby.js"></script>
    <script src="/scripts/ace/mode-csharp.js"></script>
    <script src="/scripts/joyoi.extend.js"></script>
</head>
<body class="home-template fixed-navbar">
    <div id="app">
        <!-- start header -->
        <header class="main-header">
            <nav class="navbar navbar-default navbar-fixed-top" v-bind:class="{ 'page-scrolled': fullScreen }">
                <div class="container" v-bind:class="{ 'full-screen': fullScreen }">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-list mobile-menu"></i>
                        </button>
                        <!-- start logo -->
                        <router-link to="/" class="navbar-logo"><img src="/images/logo-bk.png" /></router-link>
                        <!-- end logo -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="home"><router-link to="/">首页</router-link></li>
                            <li class="home"><router-link to="/problem">题目</router-link></li>
                            <li class="home"><router-link to="/contest">比赛</router-link></li>
                            <li class="home"><router-link to="/group">团队</router-link></li>
                            <li class="home"><router-link to="/judge">评测</router-link></li>
                            <li class="home"><router-link to="/hack">Hack</router-link></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="logout" v-if="user.isSignedIn"><a href="javascript:$('#frmLogout').submit()">注销</a></li>
                            <li class="login"><a v-if="!user.isSignedIn" v-on:click="toggleLoginBox()" class="login">登录</a></li>
                            <li class="register" v-if="!user.isSignedIn"><a href="http://uc.joyoi.net" target="_blank">注册</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
        <!-- end header -->

        <div id="cover" class="cover cover-single mobile-cover" v-bind:class="{ 'cover-url': showUrlCover, 'cover-without-url': !showUrlCover }">
            <div class="cont-wrap">
                <div class="col-md-12 mobile-cover-center" style="text-align:left">
                    <img src="/images/logo.png" class="mobile-cover-img" style="height:140px;margin-top:-60px;" />
                </div>
            </div>
            <div class="cover-url-inner" v-show="showUrlCover">
                <div class="cont-wrap">
                    <div class="col-md-12" style="text-align:left">
                        <div class="columns">
                            <div class="location-path">
                                / <router-link to="/">Joy OI</router-link> /
                                <span v-for="link in links">
                                    <router-link v-bind:to="link.to">{{ link.text }}</router-link> /
                                </span>
                            </div>
                            <h1 class="location-current" data-emoji-enabled="">{{ title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <router-view></router-view>
        </div>
        <!-- start footer -->
        <footer class="main-footer">
            <div class="footer-widget-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <!-- start widget -->
                            <div class="widget">
                                <h4 class="title"></h4>
                                <div class="content recent-post">
                                </div>
                            </div>
                            <!-- end widget -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="widget">
                                <h4 class="title">关注我们</h4>
                                <div class="content clearfix">
                                    <ul class="social">
                                        <!-- start social links -->
                                        <!-- replace the # with your own profile link address -->
                                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
                                        <li><a href="#" class="pinterest"><i class="fa  fa-pinterest"></i></a></li>
                                        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
                                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="http://avant-ghost.gbjsolution.com/rss/" class="rss"><i class="fa fa-rss"></i></a></li>
                                        <!-- end social links -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- start widget -->
                            <div class="widget">
                                <h4 class="title">最新公告</h4>
                                <div class="content">
                                </div>
                            </div>
                            <!-- end widget -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                &copy; 2017 <a href="https://github.com/JoyOI">Beijing Tsba Education &amp; Technologies Co., Ltd.</a> All right Reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <a href="#" id="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div class="search-popup">
            <div class="close-button">
                <i class="material-icons">&#xE5C9;</i>
            </div>
            <div class="container popup-inner">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="input-group">
                                <input type="email" class="required" id="search-input">
                                <span class="bar"></span>
                                <label>Type to search</label>
                            </div>
                            <!-- <input type="text"  placeholder="" /> -->
                        </form>
                        <div id="search-results">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start login -->
        <div class="login-box-bg" v-bind:class="{ 'active': layout.loginBoxOpened }">
            <div class="login-box-outer" v-bind:class="{ 'active': layout.loginBoxOpened }">
                <div class="login-box-set">
                </div>
                <div class="login-box-main">
                    <h1>登录</h1>
                    <p class="login-box-note">使用Joy OI通行证登录</p>
                </div>
            </div>
        </div>
        <!-- end login -->
    </div>
</body>
</html>
