<route-script>
    app = new Vue({
        router: router,
        data: {
            links:[],
            title: '',
            showUrlCover: router.history.current.fullPath != '/' && router.history.current.fullPath != '/home'
        }, 
        watch: {
            title: function (val) {
                $('title').text(val + ' - JoyOI Online Judge');
            }
        }
    });

    router.afterEach(() =>
    {    
        app.showUrlCover = router.history.current.fullPath != '/' && router.history.current.fullPath != '/home';
    });
</route-script>