<div class="container" id="problem">
    <div class="row">
        <div class="col-md-9">
            <div class="profile-content">
                <div class="section visible">
                    <div class="profile-header" v-bind:style="{ 'background-image': 'url(/images/' + parseInt(Math.random() * 20 + 1) + '.jpg)' }">
                        <div class="profile-avatar-outer">
                            <img v-bind:src="avatarUrl" width="120" height="120" class="profile-avatar">
                        </div>
                        <div class="profile-body">
                            <h1>{{ username || (id ? id.substr(0,8) : null) }} <small>({{ role || 'Member' }})</small></h1>
                            <p>
                                注册于 <span class="time relative" v-bind:datetime="$root.ensureUTCTimeString(registeryTime)">{{  $root.toLocalTime(registeryTime) }}</span>,
                                最后活动于 <span class="time relative" v-bind:datetime="$root.ensureUTCTimeString(activeTime)">{{ $root.toLocalTime(activeTime) }}</span>.
                            </p>
                        </div>
                    </div>
                    <div class="profile-tabs-outer">
                        <div class="profile-tabs">
                            <ul class="profile-tabs-ul">
                                <li class="profile-tabs-item" v-on:click="tab = 'passed'" v-bind:class="{ 'active': tab === 'passed' }"><a class="vue-resolved" v-bind:href="$root.resolveUrl({ name: '/user/:username', path: '/user/' + username, params: {} })">通过题目</a></li>
                                <li class="profile-tabs-item" v-on:click="tab = 'upload'" v-bind:class="{ 'active': tab === 'upload' }"><a class="vue-resolved" v-bind:href="$root.resolveUrl({ name: '/user/:username', path: '/user/' + username, params: {}, query: { 'active': 'upload' } })">上传题目</a></li>
                                <li class="profile-tabs-item" v-on:click="tab = 'topic'" v-bind:class="{ 'active': tab === 'topic' }"><a class="vue-resolved" v-bind:href="$root.resolveUrl({ name: '/user/:username', path: '/user/' + username, params: {}, query: { 'active': 'topic' } })">论坛主题</a></li>
                                <li class="profile-tabs-item" v-on:click="tab = 'blog'" v-bind:class="{ 'active': tab === 'blog' }"><a class="vue-resolved" v-bind:href="$root.resolveUrl({ name: '/user/:username', path: '/user/' + username, params: {}, query: { 'active': 'blog' } })">发表题解</a></li>
                                <li class="profile-tabs-item" v-on:click="tab = 'org'" v-bind:class="{ 'active': tab === 'org' }"><a class="vue-resolved" v-bind:href="$root.resolveUrl({ name: '/user/:username', path: '/user/' + username, params: {}, query: { 'active': 'org' } })">加入团队</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-tabs-section" v-if="tab === 'passed'">
                        <div v-for="x in passedProblems" class="accepted-problem-item">
                            <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.id, params: { 'id': x.id } }">{{ x.title || x.id }}</router-link>
                        </div>
                        <div v-if="!passedProblems.length">该用户目前还没有通过任何题目</div>
                    </div>
                    <div class="profile-tabs-section" v-if="tab === 'upload'">
                        <div v-for="x in uploadedProblems" class="accepted-problem-item">
                            <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.id, params: { 'id': x.id } }">{{ x.title || x.id }}</router-link>
                        </div>
                        <div v-if="!uploadedProblems.length">该用户目前还没有上传任何题目</div>
                    </div>
                    <div class="profile-tabs-section" v-if="tab === 'blog'">
                        <table class="table-inline profile-table-inline">
                            <thead>
                                <tr>
                                    <th>题解</th>
                                    <th>题目</th>
                                    <th>发表时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="x in posts">
                                    <td><a v-bind:href="'http://' + x.domain + '/post/' + x.url" target="_blank">{{ x.title }}</a></td>
                                    <td>
                                        <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.problemId, params: { 'id': x.problemId } }">{{ x.problemTitle }}</router-link>
                                    </td>
                                    <td v-bind:datetime="$root.ensureUTCTimeString(x.time)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-for="x in uploadedProblems" class="accepted-problem-item">
                            <router-link :to="{ name: '/problem/:id', path: '/problem/' + x.id, params: { 'id': x.id } }">{{ x.title || x.id }}</router-link>
                        </div>
                        <div v-if="!passedProblems.length">该用户目前还没有上传任何题目</div>
                    </div>
                    <div class="profile-tabs-section" v-if="tab === 'org'">
                        <table class="table-list group-list">
                            <tbody>
                                <tr v-for="x in groups.result">
                                    <td>
                                        <div class="group-outer">
                                            <div class="group-counter">
                                                <div>{{ x.memberCount }}</div>
                                                <span>成员</span>
                                            </div>
                                            <div class="group-main">
                                                <div class="group-main-inner">
                                                    <a target="_blank" class="group-name" v-bind:href="x.domain ? ('//' + x.domain) : ($root.hosts.group.replace('{GROUPID}', x.id))">{{ x.name }}</a>
                                                    <div>
                                                        <template v-if="!$root.user.isSignedIn || $root.user.profile.username !== username">
                                                            <span v-if="x.joinMethod === 'Everyone'" class="group-open">任何人可加入</span>
                                                            <span v-if="x.joinMethod === 'Verification'" class="group-verify">需要通过身份验证</span>
                                                        </template>
                                                        <a v-if="$root.user.isSignedIn && $root.user.profile.username === username" class="group-escape" v-on:click="escapeGroup(x.id)">退出该团队</a>
                                                        管理员:
                                                        <router-link v-for="y in x.masters" :to="{ name: '/user/:username', path: '/user/' + y, params: { 'username': y } }">
                                                            {{ y }}
                                                        </router-link>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="group-logo">
                                                <img v-if="x.logoUrl" v-bind:src="x.logoUrl" class="group-logo-img" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="tfoot-paging">
                                        <div class="tfoot-paging-outer">
                                            <a class="tfoot-paging-item" v-on:click="groups.current = (1)">首页</a>
                                            <a class="tfoot-paging-item" v-on:click="groups.current = (Math.max(groups.current - 1, 1))">上一页</a>
                                            <div class="tfoot-paging-item" v-if="groups.current > 3">...</div>
                                            <a class="tfoot-paging-item"
                                               v-for="p in 5"
                                               v-if="groups.current + p - 3 >= 1 && groups.current + p - 3 <= groups.count"
                                               v-on:click="groups.current = groups.current + p - 3"
                                               v-bind:class="{ 'current': groups.current + p - 3 === groups.current }">
                                                {{ groups.current + p - 3 }}
                                            </a>
                                            <div class="tfoot-paging-item" v-if="groups.current < groups.count - 2">...</div>
                                            <a class="tfoot-paging-item" v-on:click="groups.current = (Math.min(groups.current + 1, groups.count))">下一页</a>
                                            <a class="tfoot-paging-item" v-on:click="groups.current = (groups.count)">尾页</a>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="profile-statistics">
                <div class="profile-statistics-number-outer">
                    <div class="profile-statistics-number">
                        <div class="profile-statistics-number-count">{{ passedProblems ? passedProblems.length : 0 }}</div>
                        <div class="profile-statistics-number-text">通过</div>
                    </div>
                </div>
                <div class="profile-statistics-number-outer">
                    <div class="profile-statistics-number">
                        <div class="profile-statistics-number-count">{{ uploadedProblems.length }}</div>
                        <div class="profile-statistics-number-text">上传</div>
                    </div>
                </div>
                <div class="profile-statistics-number-outer">
                    <div class="profile-statistics-number">
                        <div class="profile-statistics-number-count">{{ postCount }}</div>
                        <div class="profile-statistics-number-text">题解</div>
                    </div>
                </div>
            </div>

            <div class="sidebar-section" style="margin-top: 30px">
                <div class="sidebar-section-header">
                    <h1>个人简介</h1>
                </div>
                <div class="sidebar-section-body">{{ motto }}</div>
            </div>
        </div>
    </div>
</div>