<div class="container" id="home-index">
    <div class="row">
        <div class="grid_12 area-outer">
            <div class="area-item banner">
                <div class="area-title">JoyOI 公测开启</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="grid_9">
            <div class="area-outer">
                <div class="area-item" v-for="contest in contests">
                    <div class="area-title">{{ contest.title }}</div>
                    <div>{{ contest.description }}</div>
                    <div class="contest-footer">
                        <div class="contest-footer-icon" style="color: #1d76c7"><i class="fa fa-arrow-circle-right"></i> Ready</div>
                        <div class="contest-footer-icon"><i class="fa fa-trophy"></i> ACM/ICPC</div>
                        <div class="contest-footer-icon"><i class="fa fa-users"></i> 348</div>
                        <div class="contest-footer-icon"><i class="fa fa-calendar"></i> 2017-08-13 9:00</div>
                        <div class="contest-footer-icon"><i class="fa fa-clock-o"></i> 2.5h</div>
                    </div>
                </div>
            </div>

            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title">论坛帖子</div>
                    <div class="thread-revert-padding">
                        <div class="thread-outer">
                            <div class="thread-avatar"><img src="/images/non-avatar.png" /></div>
                            <div class="thread-body">
                                <a>测试帖子</a>
                                <div class="thread-body-subline">
                                    <div class="thread-body-forum"><i class="fa fa-tag"></i> A+B Problem</div>
                                    <div class="thread-body-plain"><i class="fa fa-user"></i> Yuko</div>
                                    <div class="thread-body-plain"><i class="fa fa-clock-o"></i> 1 hour ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="thread-outer">
                            <div class="thread-avatar"><img src="/images/non-avatar.png" /></div>
                            <div class="thread-body">
                                <a>测试帖子</a>
                                <div class="thread-body-subline">
                                    <div class="thread-body-forum"><i class="fa fa-tag"></i> A+B Problem</div>
                                    <div class="thread-body-plain"><i class="fa fa-user"></i> Yuko</div>
                                    <div class="thread-body-plain"><i class="fa fa-clock-o"></i> 1 hour ago</div>
                                </div>
                            </div>
                        </div>
                        <div class="thread-outer">
                            <div class="thread-avatar"><img src="/images/non-avatar.png" /></div>
                            <div class="thread-body">
                                <a>测试帖子</a>
                                <div class="thread-body-subline">
                                    <div class="thread-body-forum"><i class="fa fa-tag"></i> A+B Problem</div>
                                    <div class="thread-body-plain"><i class="fa fa-user"></i> Yuko</div>
                                    <div class="thread-body-plain"><i class="fa fa-clock-o"></i> 1 hour ago</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid_3">
            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>联系</h1>
                </div>
                <div class="sidebar-section-body">
                    <dl>
                        <dt>电子邮件</dt>
                        <dd>123</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>