<div class="container" id="home-index">
    <div class="row">
        <div class="col-md-12 banner-outer">
            <div class="area-item banner">
                <div class="area-title">JoyOI 公测开启</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="area-outer">
                <div class="area-item" v-for="contest in contests">
                    <router-link class="area-title pointer" :to="{ name: '/contest/:id', path: '/contest/' + contest.id, params: { 'id': contest.id } }">{{ contest.title }}</router-link>
                    <div v-html="$root.marked(contest.description)"></div>
                    <div class="contest-footer">
                        <div class="contest-footer-icon" v-bind:class="contest.statusClass"><i class="fa fa-arrow-circle-right"></i> {{ contest.status }}</div>
                        <div class="contest-footer-icon"><i class="fa fa-trophy"></i> {{ contest.type }}</div>
                        <div class="contest-footer-icon"><i class="fa fa-users"></i> {{ contest.cachedAttendeeCount }}</div>
                        <div class="contest-footer-icon"><i class="fa fa-calendar"></i> {{ $root.toLocalTime(contest.begin) }}</div>
                        <div class="contest-footer-icon"><i class="fa fa-clock-o"></i> {{ contest.duration }}</div>
                    </div>
                </div>
            </div>

            <div class="area-outer">
                <div class="area-item">
                    <div class="area-title">论坛帖子</div>
                    <div class="thread-revert-padding">
                        <div class="thread-outer" v-for="x in threads" v-bind:class="{ 'highlight': x.highlight }">
                            <div class="thread-avatar"><img v-bind:src="x.avatarUrl" /></div>
                            <div class="thread-body">
                                <a v-bind:href="$root.hosts.forum + '/Forum/Thread/' + x.threadId" target="_blank">{{ x.threadTitle }}</a>
                                <div class="thread-body-subline">
                                    <a v-bind:href="$root.hosts.forum + '/Forum/' + x.forumId" target="_blank">
                                        <div class="thread-body-forum"><i class="fa fa-tag"></i> {{ x.forumTitle }}</div>
                                    </a>
                                    <router-link :to="{ name: '/user/:username', path: '/user/' + x.username, params: { 'username': x.username } }">
                                        <div class="thread-body-plain"><i class="fa fa-user"></i> {{ x.username }}</div>
                                    </router-link>
                                    <div class="thread-body-plain"><i class="fa fa-clock-o"></i> <span v-bind:datetime="x.time"></span></div>
                                    <div class="thread-body-plain"><i class="fa fa-comment-o"></i> {{ x.replyCount }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 title-align">
            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>转到题目</h1>
                </div>
                <div class="sidebar-section-body">
                    <p><input type="text" class="form-control" placeholder="题目ID" /></p>
                    <p><a class="sidebar-button"><i class="fa fa-arrow-circle-right"></i> 转到题目</a></p>
                </div>
            </div>

            <div class="sidebar-section">
                <div class="sidebar-section-header">
                    <h1>链接</h1>
                </div>
                <div class="sidebar-section-body">
                    <ul>
                        <li><a>Microsoft</a></li>
                        <li><a>Azure</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>